// TODO: determine if these hacks are actually safe to use (they probably aren't)

div.mat-menu-content {
  padding: 4px 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

button.mat-menu-item {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
}
