@import '~@angular/material/theming';
@import '../components/root/root.component.scss';
@include mat-core();
@mixin custom-theme($theme) {
    @include angular-material-theme($theme);
    @include ss-root-theme($theme);
}

$light-primary: mat-palette($mat-blue-grey, 500);
$light-accent: mat-palette($mat-blue, A400);
$light-warn: mat-palette($mat-red);
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include custom-theme($light-theme);
.shapeshifter-dark-theme {
    @include custom-theme($dark-theme);
}
