$thinBorderColor: rgba(#000, .12);
$colorBlackTextSecondary: rgba(#000, .54);
$colorPrimary400: #42A5F5; // blue 400
$colorPrimary500: #2196F3; // blue 500
$colorPrimary600: #1E88E5; // blue 600
$colorPrimary700: #1976D2; // blue 700
$colorFocusBorder: #42A5F5; // blue 400
$colorSelection: #1976D2; // blue 700
$colorSelectedAnimationBlock: #2196F3; // blue 500
