@import './theme';

// Dimensions.
$mobileChromeBreakpoint: 600px;

// Borders and seams.
$thinBorderColor: rgba(#000, .12);
$thinBorderColorLighter: rgba(#000, .06);
$thinBorderColorDarker: rgba(#000, .2);
$thinBorderColorWhite: rgba(#fff, .2);

// Colors.
$colorBlackTextPrimary: rgba(#000, .87);
$colorBlackTextSecondary: rgba(#000, .54);
$colorBlackTextDisabled: rgba(#000, .38);
$colorBlackTextVeryLight: rgba(#000, .15);
$colorWhiteTextPrimary: rgba(#fff, 1.0);
$colorWhiteTextSecondary: rgba(#fff, .70);
$colorWhiteTextDisabled: rgba(#fff, .5);

$colorPrimary400: mat-color(mat-palette($mat-blue, 400));
$colorPrimary500: mat-color(mat-palette($mat-blue, 500));
$colorPrimary600: mat-color(mat-palette($mat-blue, 600));
$colorPrimary700: mat-color(mat-palette($mat-blue, 700));

$colorFocusBorder: mat-color(mat-palette($mat-blue, 400));
$colorSelection: mat-color(mat-palette($mat-blue, 700));
$colorSelectedAnimationBlock: mat-color(mat-palette($mat-blue, 500));

$colorError: mat-color(mat-palette($mat-red, A200));
$colorSuccess: mat-color(mat-palette($mat-teal, A700));

// Animation timings.
$animTimeMedium: .3s;
$animTimeFast: $animTimeMedium / 2;
$animTimeVeryFast: $animTimeMedium / 3;
$animTimeSlow: $animTimeMedium * 1.5;

// Fonts.
$mdFontFamily: Roboto, 'Helvetica Neue', sans-serif !default;
