<div class="outer-container">
    <div class="inner-container">
        <a *ngFor="let project of this.projects; trackBy: this.trackByFn"
            href="/project/{{ project.id }}"
            class="project-card mat-elevation-z4">
            <div class="project-image">
                <!-- TODO: replace this with the actual project image -->
                <img src="https://romannurik.github.io/AndroidAssetStudio/res/generator-thumbs/icon-animator.svg">
            </div>
            <div class="project-title">{{ project.name }}</div>
            <div class="project-description">{{ project.userId }}</div>
        </a>
    </div>
</div>