<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a [routerLink]="['/']">
            <mat-icon class="header-logo"
                svgIcon="shapeshifter">
            </mat-icon>
            <span class="header-title">Shape Shifter</span>
        </a>
        <span fxFlex="1 1 auto"></span>
        <!-- TODO: make this an 'a' element similar to observablehq? -->
        <button mat-button
            *ngIf="this.isAuthenticated"
            (click)="this.onCreateNewProjectClick()">
            New project
        </button>
        <button mat-button
            *ngIf="this.isAuthenticated"
            (click)="this.onMyProjectsClick()">
            My projects
        </button>
        <button mat-button
            *ngIf="!this.isAuthenticated"
            (click)="this.onSignInClick()">
            Sign in
        </button>
        <button mat-button
            *ngIf="this.isAuthenticated"
            (click)="this.onSignOutClick()">
            Sign out
        </button>
    </mat-toolbar-row>
</mat-toolbar>