mat-toolbar {
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        .header-logo {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
        .header-title {
            // TODO: make this theme-aware?
            color: #fff;
        }
    }
}
