@import '../styles/variables';
@import '../styles/theme';
:host {
  overflow-y: auto;
}

.path-selector-empty {
  position: relative;
  width: 100%;
  height: 100%;
  span {
    box-sizing: border-box;
    padding: 32px;
    color: $colorBlackTextDisabled;
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
}

.path-selector-list {
  box-sizing: border-box;
  min-width: 180px;
  max-width: 200px;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 8px;
  padding-bottom: 48px;
  .path-selector-listitem {
    box-sizing: border-box;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 2px;
    cursor: pointer;
    font-size: 13px;
    outline: none;
    color: $colorBlackTextSecondary;
    border-radius: 2px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.is-selected {
      background-color: mat-color($app-accent);
      box-shadow: none;
      color: #fff;
    }
    span.path-name-text {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  button {
    line-height: 16px;
    height: 20px;
    width: 20px;
    min-height: 20px;
    md-icon {
      line-height: normal;
      vertical-align: top;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
}

.border {
  width: 2px;
  background-color: $colorBlackTextVeryLight;
}
