@import '../styles/variables';
@import '../styles/theme';
.path-selector-container {
  height: 100%;
  .path-selector-empty {
    position: relative;
    width: 100%;
    height: 100%;
    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
     ::-webkit-file-upload-button {
      cursor: pointer;
    }
    label {
      box-sizing: border-box;
      padding: 32px;
      color: $colorBlackTextDisabled;
      text-align: center;
      width: 100%;
      font-size: 16px;
    }
  }
  .path-selector-list {
    box-sizing: border-box;
    min-width: 180px;
    max-width: 200px;
    overflow: auto;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 8px;
    .path-selector-listitem {
      box-sizing: border-box;
      height: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 2px;
      cursor: pointer;
      font-size: 13px;
      outline: none;
      color: $colorBlackTextSecondary;
      border-radius: 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &.is-selected {
        background-color: mat-color($app-accent);
        box-shadow: none;
        color: #fff;
      }
      span.path-name-text {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}

.border {
  width: 2px;
  background-color: $colorBlackTextVeryLight;
}
