<div *ngIf="!!(existingPathIdsObservable | async).length" class="path-selector-list">
  <div *ngFor="let pathLayerId of (existingPathIdsObservable | async);
    let idx = index;">
    <div class="path-selector-listitem" fxLayout="row">
      <span class="path-name-text">{{ pathLayerId }}</span>
      <span fxFlex></span>
      <button md-icon-button mdTooltip="Set start path" mdTooltipPosition="above"
        mdTooltipShowDelay="500" (click)="setStartActivePathId(pathLayerId)">
        <md-icon [class.activated]="(startActivePathIdObservable | async) === pathLayerId">arrow_back</md-icon>
      </button>
      <button md-icon-button mdTooltip="Set end path" mdTooltipPosition="above"
        mdTooltipShowDelay="500" (click)="setEndActivePathId(pathLayerId)">
        <md-icon [class.activated]="(endActivePathIdObservable | async) === pathLayerId">arrow_forward</md-icon>
        </button>
      <button md-icon-button mdTooltip="Delete path" mdTooltipPosition="above"
        mdTooltipShowDelay="500">
        <md-icon>delete</md-icon>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!(existingPathIdsObservable | async).length" class="path-selector-empty"
  fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <span>Import 2 SVGs to get started<br>(or load a demo in the top right menu)</span>
</div>
