<div *ngIf="!vectorLayer"
  class="path-selector-empty"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex>
  <input type="file"
    accept=".svg"
    id="input-file-id-{{canvasType}}"
    (change)="onSvgFileChosen($event.srcElement.files)">
  <label for="input-file-id-{{canvasType}}">
    Import an SVG file to get started
  </label>
</div>
<div *ngIf="!!vectorLayer"
  class="path-selector-list">
  <div *ngFor="let pathLayer of pathLayers;
    let idx = index;
    trackBy: trackPathLayer">
    <div class="path-selector-listitem"
      [class.is-selected]="activePathId === pathLayer.id"
      (click)="activePathId = pathLayer.id">
      <span>{{idx + 1}}.</span><span class="path-name-text">{{pathLayer.id}}</span>
    </div>
  </div>
</div>

