dist: trusty
sudo: required
language: node_js
node_js:
  - "8.1.1"
os:
  - linux
env:
  global:
    - DBUS_SESSION_BUS_ADDRESS=/dev/null
    - DISPLAY=:99.0
    - CHROME_BIN=chromium-browser
before_script:
  - sh -e /etc/init.d/xvfb start
install:
  - npm install
script:
  - npm run lint
  - npm run test-once
  - npm run build
after_success:
  - npm run coveralls
