service cloud.firestore {
  match /databases/{database}/documents {

    match /projects/{projectId} {
      allow read: if true;
      allow create: if isOwner(incomingData().userId);
      allow update, delete: if isOwner(existingData().userId);
    }

    match /users/{userId} {
      // TODO: determine if non-signed-in users should be allowed to read user data
      allow read: if false;
      allow create: if isOwner(incomingData().id);
      allow update, delete: if isOwner(existingData().id);
    }

    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function incomingData() {
      return request.resource.data;
    }

    function existingData() {
      return resource.data;
    }
  }
}