service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {
      allow read: if true;
      allow write: if request.auth.uid == resource.data.userId;
    }
    match /users/{user} {
      allow read, write: if request.auth.uid == resource.data.id;
    }
  }
}