<div class="studio-layer-timeline"
  *ngIf="(this.layerTimelineModel$ | async) as model">
  <app-splitter [edge]="'top'"
    [min]="200"
    [persistId]="'layer-timeline'">
  </app-splitter>

  <div class="slt-layers"
    fxLayout="column">
    <app-splitter [edge]="'right'"
      [min]="200"
      [persistId]="'layer-list'">
    </app-splitter>

    <div class="slt-header"
      fxLayout="row"
      fxLayoutAlign="start center">

      <md-menu #fileMenu="mdMenu">
        <button md-menu-item
          (click)="this.newWorkspaceClick()">
          New
        </button>
      </md-menu>
      <button class="slt-layers-menu-group-button"
        [mdMenuTriggerFor]="fileMenu">
        File
      </button>
      <md-menu #importMenu="mdMenu">
        <button md-menu-item
          (click)="this.launchFilePicker('addPathsFromSvgButton')">
          SVG
          <input
            multiple
            id="addPathsFromSvgButton"
            type="file"
            accept=".svg"
            (change)="onImportedFilesPicked(($event.target || $event.srcElement).files)">
        </button>
        <button md-menu-item
          (click)="this.launchFilePicker('addPathsFromXmlButton')">
          Vector Drawable
          <input
            multiple
            id="addPathsFromXmlButton"
            type="file"
            accept=".xml"
            (change)="onImportedFilesPicked(($event.target || $event.srcElement).files)">
        </button>
      </md-menu>
      <button class="slt-layers-menu-group-button"
        [mdMenuTriggerFor]="importMenu">
        Import
      </button>
      <md-menu #exportMenu="mdMenu">
        <button md-menu-item>SVG</button>
        <button md-menu-item
          (click)="exportVectorDrawableClick()">
          Vector Drawable
        </button>
        <button md-menu-item
          (click)="exportAnimatedVectorDrawableClick()">
          Animated Vector Drawable
        </button>
        <button md-menu-item>SVG spritesheet</button>
        <button md-menu-item>CSS keyframes</button>
      </md-menu>
      <button class="slt-layers-menu-group-button"
        [mdMenuTriggerFor]="exportMenu">
        Export
      </button>
      <div fxFlex></div>
      <md-menu #addLayerMenu="mdMenu">
        <button md-menu-item
          (click)="addPathLayerClick()">
          New path
        </button>
        <button md-menu-item
          (click)="addClipPathLayerClick()">
          New clip path
        </button>
        <button md-menu-item
          (click)="addGroupLayerClick()">
          New group layer
        </button>
        <!-- TODO: reenable this at some point? -->
        <!--<button md-menu-item
          (click)="addVectorLayerClick()">
          New vector layer
        </button>-->
      </md-menu>
      <button md-icon-button
        mdTooltip="Add layer"
        mdTooltipPosition="below"
        mdTooltipShowDelay="300"
        [mdMenuTriggerFor]="addLayerMenu">
        <md-icon svgIcon="addlayer"></md-icon>
      </button>
    </div>

    <div appScrollGroup="timeline"
      class="slt-layers-list-scroller"
      fxFlex>
      <!-- Layer list. -->
      <div class="slt-layers-list">
        <app-layerlisttree fxLayout="column"
          class="slt-layer-container"
          *ngFor="let vl of model.vectorLayers; trackBy: this.trackLayerFn;"
          [layer]="vl"
          (onLayerClick)="this.layerClick($event.event, $event.layer)"
          (onLayerToggleExpanded)="this.layerToggleExpanded($event.event, $event.layer)"
          (onLayerToggleVisibility)="this.layerToggleVisibility($event.event, $event.layer)"
          (onLayerMouseDown)="this.layerMouseDown($event.event, $event.layer)"
          (onAddTimelineBlockClick)="this.addTimelineBlockClick($event.event, $event.layer, $event.propertyName)">
        </app-layerlisttree>
      </div>
      <div *ngIf="(this.dragIndicatorObservable | async) as dragData"
        class="slt-layers-list-drag-indicator"
        [ngStyle]="{
          'display': dragData.isVisible ? 'block' : 'none',
          'left': dragData.left + 'px',
          'top': dragData.top + 'px'
        }">
      </div>
    </div>
  </div>

  <!-- Animation timeline. -->
  <div class="slt-timeline"
    #timeline
    (mousewheel)="this.onWheelEvent($event)">
    <ng-container *ngFor="let animation of model.animations; trackBy: trackAnimationFn;">
      <div #timelineAnimation
        *ngIf="{
          horizZoom: (this.horizZoomObservable | async)
        } as animationData"
        class="slt-timeline-animation"
        (mousedown)="this.animationTimelineMouseDown($event, animation)"
        [ngClass]="{'is-active': model.activeAnimationId === animation.id}"
        [ngStyle]="{'width': (animation.duration * animationData.horizZoom + 40) + 'px'}"
        fxLayout="column">
        <div class="slt-header">
          <div class="slt-timeline-animation-meta"
            [ngClass]="{'is-selected': model.selectedAnimationIds.has(animation.id)}"
            (click)="this.animationHeaderTextClick($event, animation)">
            <span class="slt-timeline-animation-name">{{animation.name}}</span>
            <span class="slt-timeline-animation-duration">{{animation.duration}}ms</span>
          </div>
          <canvas appLayerTimeline
            class="slt-timeline-header-grid"
            [isActive]="model.activeAnimationId === animation.id"
            [animation]="animation"
            [horizZoom]="animationData.horizZoom"
            [isHeader]="true"
            (onScrub)="this.timelineHeaderScrub($event)">
          </canvas>
        </div>

        <canvas appLayerTimeline
          class="slt-timeline-grid"
          [animation]="animation"
          [isActive]="model.activeAnimationId === animation.id"
          [horizZoom]="animationData.horizZoom">
        </canvas>

        <div appScrollGroup="timeline"
          class="slt-timeline-animation-scroller">
          <div class="slt-timeline-animation-rows">
            <app-timelineanimationrow *ngFor="let layer of model.vectorLayers; trackBy: this.trackLayerFn;"
              [layer]="layer"
              [animation]="animation"
              (onTimelineBlockMouseDown)="this.timelineBlockMouseDown($event.event, $event.block, $event.animation, $event.layer)"
              (onTimelineBlockClick)="this.timelineBlockClick($event.event, $event.block, $event.animation, $event.layer)">
            </app-timelineanimationrow>
          </div>
        </div>
      </div>
    </ng-container>
    <div fxLayout="row"
      fxLayoutAlign="start stretch">
      <div class="slt-timeline-animation-new-container"
        fxLayout="column"
        fxLayoutAlign="center center">
        <button md-button
          (click)="this.addNewAnimationClick()"
          class="slt-timeline-animation-new"
          fxLayout="column"
          fxLayoutAlign="center center">
          <md-icon svgIcon="addanimation"></md-icon>
          <span>New animation</span>
        </button>
      </div>
    </div>
  </div>
</div>
