<div class="slt-layer slt-layer-type-{{ this.layer.getType() }}"></div>

<!-- TODO: hide if layer is not expanded HERE! -->
<!-- We shouldn't create these elements if there are no properties to display -->
<div class="slt-properties">
  <div class="slt-property"
    *ngFor="let blocksByAnimation of this.getBlocksByAnimationByPropertyValues()">
    <!-- TODO: highlight selected animation blocks HERE! -->
    <div class="slt-timeline-block"
      *ngFor="let block of blocksByAnimation[this.animation.id]"
      (click)="this.timelineBlockClick($event, block, this.animation, this.layer)"
      (mousedown)="this.timelineBlockMouseDown($event, block, this.animation, this.layer)"
      tabindex="-1"
      [ngStyle]="{
        'left': (100 * block.startTime / this.animation.duration) + '%',
        'width': (100 * (block.endTime - block.startTime) / this.animation.duration) + '%'
      }"
      [ngClass]="{'is-selected': block.selected_}">
      <div class="slt-timeline-block-edge slt-timeline-block-edge-start"></div>
      <div class="slt-timeline-block-edge slt-timeline-block-edge-end"></div>
    </div>
  </div>
</div>

<!-- TODO: hide if layer is not expanded HERE! -->
<ul class="slt-children"
  *ngIf="layer.children.length > 0">
  <li *ngFor="let child of layer.children">
    <app-timelineanimationrow [layer]="child"
      [animation]="this.animation"
      [animations]="this.animations"
      (onTimelineBlockMouseDown)="this.timelineBlockMouseDown($event.event, $event.block, $event.animation, $event.layer)"
      (onTimelineBlockClick)="this.timelineBlockClick($event.event, $event.block, $event.animation, $event.layer)">
    </app-timelineanimationrow>
  </li>
</ul>
