<!-- Empty view. -->
<ng-container *ngIf="{ vectorLayers: (vectorLayersObservable | async) } as data">
  <div *ngIf="data.vectorLayers.length === 0" class="empty-state"
    fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <span>Import 2 SVGs to get started<br>(or load a demo in the top right menu)</span>
  </div>
  <!-- Layer list tree. -->
  <div *ngIf="data.vectorLayers.length > 0" class="slt-layers-list-scroller"
    fxFlexFill>
    <div class="slt-layers-list">
      <app-layertree *ngFor="let vl of data.vectorLayers; trackBy: trackLayerFn;"
        [layer]="vl" (onLayerClick)="layerClick($event.event, $event.layer)"
        (onLayerDoubleClick)="layerDoubleClick($event.event, $event.layer)"
        (onLayerMouseDown)="layerMouseDown($event.event, $event.layer)"></app-layertree>
    </div>
  </div>
  <div *ngIf="(this.dragIndicatorSource.asObservable() | async) as data"
    class="slt-layers-list-drag-indicator" [ngStyle]="{
      'display': data.isVisible ? 'block' : 'none',
      'left': data.left + 'px',
      'top': data.top + 'px'
    }"></div>
</ng-container>
