<div class="slt-layer slt-layer-type-{{ layer._slt.layerType }}"
  ng-class="{'is-selected': layer.selected_}" ng-click="ctrl.onLayerClick($event, layer)"
  ng-dblclick="ctrl.onLayerToggleExpanded($event, layer)" ng-mousedown="ctrl.onLayerMouseDown($event, layer)"
  layout="row">
  <md-button class="md-icon-button slt-layer-expanded-toggle" ng-class="{'is-visible':layer._slt.layerType == 'group'}"
    ng-click="ctrl.onLayerToggleExpanded($event, layer)">
    <md-icon class="material-icons">{{layer.expanded ? 'expand_more' : 'chevron_right'}}</md-icon>
  </md-button>
  <md-icon md-svg-icon="avdstudio:{{ layer.typeIcon }}"></md-icon>
  <span class="slt-layer-id">{{ layer.id }}</span>
  <md-menu ng-if="layer._slt.layerType == 'layer' || layer._slt.layerType == 'mask'">
    <md-button class="md-icon-button slt-layer-action-button slt-layer-more-actions"
      ng-click="$mdOpenMenu($event)">
      <md-icon class="material-icons">more_vert</md-icon>
    </md-button>
    <md-menu-content>
      <md-menu-item ng-if="layer._slt.layerType == 'layer'">
        <md-button ng-click="ctrl.onConvertLayerToClipPath($event, layer)">Convert to clip path</md-button>
      </md-menu-item>
      <md-menu-item ng-if="layer._slt.layerType == 'mask'">
        <md-button ng-click="ctrl.onConvertLayerToPath($event, layer)">Convert to path</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button class="md-icon-button slt-layer-action-button slt-layer-visibility-toggle"
    ng-class="{'is-checked':layer.visible}" ng-click="ctrl.onLayerToggleVisibility($event, layer)"
    aria-label="Show/hide layer">
    <md-icon class="material-icons">{{layer.visible ? 'visibility' : 'visibility_off'}}</md-icon>
    <md-tooltip>Show/hide layer</md-tooltip>
  </md-button>
  <md-menu class="slt-layer-add-property-menu" ng-if="ctrl.activeAnimation && layer._slt.hasAvailableProperties">
    <md-button class="md-icon-button slt-layer-action-button" ng-click="$mdOpenMenu($event)"
      aria-label="Animate this layer">
      <md-icon md-svg-icon="avdstudio:animation_block"></md-icon>
      <md-tooltip>Animate this layer</md-tooltip>
    </md-button>
    <md-menu-content>
      <md-menu-item ng-repeat="(propertyName, __) in layer._slt.availableProperties">
        <md-button ng-click="ctrl.onAddTimelineBlock($event, layer, propertyName)">
          {{propertyName}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<ul class="slt-children" ng-if="layer.layers" ng-show="layer.expanded">
  <li class="slt-layer-container" ng-repeat="layer in layer.layers"
    data-layer-id="{{layer.id}}" ng-include="'layerListItem'" layout="column"></li>
</ul>
