<div fxLayout="row" class="lt-listitem" fxLayout="row" fxLayoutAlign="start center"
  [class.is-selected]="false">
  <button md-icon-button>
    <md-icon>chevron_right</md-icon>
  </button>
  <span class="lt-layer-id-text" fxFlex>{{layer.id}}</span>
  <button md-icon-button>
    <md-icon>more_vert</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>visibility</md-icon>
  </button>
  <button md-icon-button>
    <md-icon>delete</md-icon>
  </button>
</div>
<ul *ngIf="layer.children" class="lt-children">
  <li *ngFor="let child of layer.children; trackBy: trackLayer">
    <app-layertree [layer]="child"></app-layertree>
  </li>
</ul>

<!--<div *ngFor="let pathId of (existingPathIdsObservable | async);
    let idx = index;">
    <div class="path-selector-listitem" fxLayout="row" fxLayoutAlign="start center"
      [class.is-selected]="((startActivePathIdObservable | async) === pathId) || ((endActivePathIdObservable | async) === pathId)"
      (click)="onListItemClick($event, idx)" [class.is-hovering]="isHovering(pathId)"
      (mouseenter)="onListItemHoverEvent(pathId, true)" (mouseleave)="onListItemHoverEvent(pathId, false)">
      <span class="path-name-text">{{ pathId }}</span>
      <span fxFlex></span>
      <button md-icon-button (click)="onOverflowButtonClick($event)"
        (mouseenter)="onOverflowHoverEvent(pathId, true)" (mouseleave)="onOverflowHoverEvent(pathId, false)"
        [mdMenuTriggerFor]="pathSelectorOverflow">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #pathSelectorOverflow="mdMenu">
        <button md-menu-item (click)="onSetStartPathIdClick(pathId)"
          *ngIf="(startActivePathIdObservable | async) !== pathId">
          <span>Set start path</span>
        </button>
        <button md-menu-item (click)="onSetEndPathIdClick(pathId)" *ngIf="(endActivePathIdObservable | async) !== pathId">
          <span>Set end path</span>
        </button>
        <button md-menu-item (click)="onDeletePathClick(pathId)">
          <span>Delete</span>
        </button>
      </md-menu>
    </div>
  </div>-->
