@import '../styles/material-colors';
@import '../styles/variables';
@import '../styles/theme';
:host {
  user-select: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.empty-state {
  span {
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;
    color: $colorBlackTextDisabled;
    text-align: center;
    width: 100%;
    font-size: 16px;
    br {
      line-height: 125%;
    }
  }
}

.slt-layers-list {
  box-sizing: border-box;
  width: 300px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 48px;
}

.slt-layers-list-scroller {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.slt-layers-list-drag-indicator {
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  margin-top: -1px;
  background-color: mat-color($app-accent);
  pointer-events: none;
  &::before {
    position: absolute;
    content: '';
    left: -4px;
    top: -3px;
    height: 8px;
    width: 8px;
    background-color: mat-color($app-accent);
    border-radius: 50%;
  }
}
