<div class="toolbar"
  fxLayout="row"
  fxLayoutAlign="center center">
  <md-icon class="toolbar-logo"
    svgIcon="shapeshifter"></md-icon>
  <span>Shape Shifter</span>
  <span fxFlex="1 1 auto"></span>
  <button
    class="toolbar-action-button"
    mdTooltip="New"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="onNewClick()"
    md-icon-button>
    <md-icon>create</md-icon>
  </button>
  <button md-icon-button
    class="toolbar-action-button"
    [disabled]="morphabilityStatus === MORPHABILITY_NONE"
    (click)="onAutoFixClick()"
    mdTooltip="Auto fix"
    mdTooltipShowDelay="500"
    mdTooltipPosition="below">
    <md-icon svgIcon="autofix"></md-icon>
  </button>
  <button md-icon-button
    class="toolbar-action-button"
    [disabled]="morphabilityStatus !== MORPHABILITY_MORPHABLE"
    mdTooltip="Export"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="onExportClick()">
    <md-icon>file_download</md-icon>
  </button>
  <button
    class="toolbar-action-button"
    md-icon-button
    [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item
      (click)="onDemoClick()">
      <md-icon svgIcon="demo"></md-icon>
      <span>Demo</span>
    </button>
    <a href="https://github.com/alexjlockwood/ShapeShifter">
      <button md-menu-item>
        <md-icon svgIcon="contribute"></md-icon>
        <span>Contribute</span>
      </button>
    </a>
    <button md-menu-item
      (click)="onHelpClick()">
      <md-icon>help</md-icon>
      <span>Help</span>
    </button>
  </md-menu>
</div>
