@import '../styles/material-shadows';
@import '../styles/material-colors';
@import '../styles/variables';
@import '../styles/theme';
.toolbar {
  padding: 8px 16px;
  font-size: 18px;
  line-height: 16px;
  background-color: material-color('blue-grey', '500');
  color: mat-color($app-primary, default-contrast);
  box-shadow: material-shadow(1);
  z-index: 1;
}

.toolbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

md-toolbar {
  background-color: mat-color($app-primary);
  color: mat-color($app-primary, default-contrast);
}

// Remove link decorations from overflow menu items.
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

button[disabled] {
  md-icon {
    color: $colorWhiteTextDisabled;
  }
}

.toolbar-action-button {
  margin-left: 16px;
}
