@import '../styles/material-shadows';
@import '../styles/material-colors';
@import '../styles/variables';
@import '../styles/theme';
.toolbar {
  padding: 8px 16px;
  font-size: 18px;
  line-height: 16px;
  background-color: mat-color($app-primary);
  color: mat-color($app-primary, default-contrast);
  box-shadow: material-shadow(1);
  z-index: 1;
}

.toolbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.action-mode-close-icon {
  margin-right: 8px;
}

// Remove link decorations from overflow menu items.
.toolbar-overflow-link-item {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

button[disabled] {
  md-icon {
    color: $colorWhiteTextDisabled;
  }
}

.toolbar-action-button {
  margin-left: 16px;
}

.action-mode-disabled {
  animation-name: actionModeDisabled;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.action-mode-enabled {
  animation-name: actionModeEnabled;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes actionModeEnabled {
  0% {
    background-color: mat-color($app-primary);
    color: mat-color($app-primary, default-contrast);
  }
  100% {
    background-color: mat-color($app-accent);
    color: mat-color($app-accent, default-contrast);
  }
}

@keyframes actionModeDisabled {
  0% {
    background-color: mat-color($app-accent);
    color: mat-color($app-accent, default-contrast);
  }
  100% {
    background-color: mat-color($app-primary);
    color: mat-color($app-primary, default-contrast);
  }
}
