<div *ngIf="(toolbarObservable | async) as toolbarData" fxLayout="row"
  fxLayoutAlign="center center" class="toolbar action-mode-disabled"
  [class.action-mode-enabled]="hasActionModeBeenEnabled && shouldShowActionMode()"
  [class.action-mode-disabled]="hasActionModeBeenEnabled && !shouldShowActionMode()">

  <ng-container *ngIf="{
      showActionMode: shouldShowActionMode(),
      numSubPaths: toolbarData.getNumSubPaths(),
      numSegments: toolbarData.getNumSegments(),
      numPoints: toolbarData.getNumPoints(),
      toolbarTitle: toolbarData.getToolbarTitle(),
      toolbarSubtitle: toolbarData.getToolbarSubtitle(),
      showAddPoints: toolbarData.getNumSubPaths() > 0 || !toolbarData.isSelectionMode(),
      showSplitSubPaths: toolbarData.getNumSubPaths() > 0 || !toolbarData.isSelectionMode(),
      showMorphSubPaths: toolbarData.getNumSubPaths() === 1 || !toolbarData.isSelectionMode(),
      showReverseSubPaths: toolbarData.getNumSubPaths() === 1,
      showShiftSubPath: toolbarData.shouldShowShiftSubPath(),
      showSetFirstPosition: toolbarData.shouldShowSetFirstPosition(),
      showDeleteSubPaths: toolbarData.getNumSplitSubPaths() > 0,
      showDeleteSegments: toolbarData.getNumSegments() > 0,
      showDeletePoints: toolbarData.getNumSplitPoints() > 0
    } as data">

    <!-- Shape Shifter logo. -->
    <md-icon *ngIf="!data.showActionMode" class="toolbar-logo" svgIcon="shapeshifter"></md-icon>

    <!-- Action mode close button. -->
    <button md-icon-button *ngIf="data.showActionMode" class="action-mode-close-icon"
      (click)="onCloseActionModeClick()">
      <md-icon>close</md-icon>
    </button>

    <!-- Toolbar text. -->
    <div fxLayout="column" fx>
      <span class="toolbar-title">{{data.toolbarTitle}}</span>
      <span *ngIf="data.toolbarSubtitle" class="toolbar-subtitle">{{data.toolbarSubtitle}}</span>
    </div>

    <span fxFlex="1 1 auto"></span>

    <!-- Default mode buttons. -->
    <button md-icon-button class="toolbar-action-button" [disabled]="!(isDirtyObservable | async)"
      *ngIf="!data.showActionMode" mdTooltip="New" mdTooltipPosition="below"
      mdTooltipShowDelay="300" (click)="onNewClick()">
      <md-icon>create</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" [disabled]="(morphStatusObservable | async) === MORPH_NONE"
      (click)="onAutoFixClick()" mdTooltip="Auto fix" mdTooltipShowDelay="300"
      *ngIf="!data.showActionMode" mdTooltipPosition="below">
      <md-icon svgIcon="autofix"></md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" [disabled]="(morphStatusObservable | async) !== MORPH_MORPHABLE"
      mdTooltip="Export" mdTooltipPosition="below" mdTooltipShowDelay="300"
      *ngIf="!data.showActionMode" (click)="onExportClick()">
      <md-icon>file_download</md-icon>
    </button>

    <!-- SubPath mode. -->
    <button md-icon-button class="toolbar-action-button" mdTooltip="Add points (A)"
      mdTooltipPosition="below" *ngIf="data.showAddPoints" mdTooltipShowDelay="300"
      (click)="onAddPointsClick()" [class.activated]="toolbarData.isAddPointsMode()">
      <md-icon>add_circle_outline</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltip="Split subpaths (S)"
      mdTooltipPosition="below" *ngIf="data.showSplitSubPaths"
      mdTooltipShowDelay="300" (click)="onSplitSubPathsClick()"
      [class.activated]="toolbarData.isSplitSubPathsMode()">
      <md-icon>content_cut</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltip="Morph subpaths (M)"
      mdTooltipPosition="below" *ngIf="data.showMorphSubPaths"
      mdTooltipShowDelay="300" (click)="onMorphSubPathsClick()"
      [class.activated]="toolbarData.isMorphSubPathsMode()">
      <md-icon>compare_arrows</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltip="Reverse points (R)"
      mdTooltipPosition="below" *ngIf="data.showReverseSubPaths"
      mdTooltipShowDelay="300" (click)="onReversePointsClick()"
      (mouseenter)="onReversePointsHover(true)" (mouseleave)="onReversePointsHover(false)"
      [disabled]="!toolbarData.isSelectionMode()">
      <md-icon svgIcon="reverse"></md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltip="Shift back points (B)"
      mdTooltipPosition="below" *ngIf="data.showShiftSubPath" mdTooltipShowDelay="300"
      (click)="onShiftBackPointsClick()" (mouseenter)="onShiftBackPointsHover(true)"
      (mouseleave)="onShiftBackPointsHover(false)" [disabled]="!toolbarData.isSelectionMode()">
      <md-icon>skip_previous</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltip="Shift forward points (F)"
      mdTooltipPosition="below" *ngIf="data.showShiftSubPath" mdTooltipShowDelay="300"
      (click)="onShiftForwardPointsClick()" (mouseenter)="onShiftForwardPointsHover(true)"
      (mouseleave)="onShiftForwardPointsHover(false)" [disabled]="!toolbarData.isSelectionMode()">
      <md-icon>skip_next</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltipPosition="below"
      mdTooltip="Delete subpath{{data.numSubPaths === 1 ? '' : 's'}} (Backspace)"
      mdTooltipShowDelay="300" *ngIf="data.showDeleteSubPaths"
      (click)="onDeleteSubPathsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Segment mode. -->
    <button md-icon-button class="toolbar-action-button" mdTooltipPosition="below"
      mdTooltip="Delete segment{{data.numSegments === 1 ? '' : 's'}} (Backspace)"
      mdTooltipShowDelay="300" *ngIf="data.showDeleteSegments"
      (click)="onDeleteSegmentsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Point mode. -->
    <button md-icon-button class="toolbar-action-button" mdTooltip="Set first point (F)"
      mdTooltipPosition="below" mdTooltipShowDelay="300" *ngIf="data.showSetFirstPosition"
      (click)="onSetFirstPositionClick()" (mouseenter)="onSetFirstPositionHover(true)"
      (mouseleave)="onSetFirstPositionHover(false)">
      <md-icon>looks_one</md-icon>
    </button>
    <button md-icon-button class="toolbar-action-button" mdTooltipPosition="below"
      mdTooltip="Delete point{{data.numPoints === 1 ? '' : 's'}} (Backspace)"
      mdTooltipShowDelay="300" *ngIf="data.showDeletePoints" (click)="onDeletePointsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Overflow menu buttons. -->
    <button class="toolbar-action-button" md-icon-button [mdMenuTriggerFor]="overflowMenu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #overflowMenu="mdMenu">
      <button md-menu-item (click)="onDemoClick()">
        <md-icon class="material-icons" svgIcon="demoicon"></md-icon>
        <span>Demos</span>
      </button>
      <a href="https://github.com/alexjlockwood/ShapeShifter/issues"
        target="_blank" class="toolbar-overflow-link-item">
        <button md-menu-item (click)="onSendFeedbackClick()">
          <md-icon>bug_report</md-icon>
          <span>Send feedback</span>
        </button>
      </a>
      <a href="https://github.com/alexjlockwood/ShapeShifter/blob/master/README.md"
        target="_blank" class="toolbar-overflow-link-item">
        <button md-menu-item (click)="onAboutClick()">
          <md-icon>info</md-icon>
          <span>About</span>
        </button>
      </a>
    </md-menu>
  </ng-container>
</div>
