$headerHeight: 40px;
:host {
  position: relative;
  flex: 0 0 auto;
  height: $headerHeight;
  box-sizing: border-box;
  width: 100%; //background-color: material-color('grey', '100');
  font-size: 12px;
  line-height: $headerHeight; //color: material-color('grey', '700');
  padding: 0 16px; //box-shadow: material-shadow(2);
  z-index: 2;
}

.slt-timeline-header-grid {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: 1;
  cursor: pointer;
}
