@import '../styles/material-colors';
@import '../styles/variables';

button {
  margin: 0px 3px;
}

button[md-mini-fab] {
  md-icon {
    color: $colorWhiteTextPrimary;
  }
}

button[md-icon-button] {
  md-icon {
    color: $colorWhiteTextSecondary;
  }
  md-icon.activated {
    color: material-color('orange', '700');
  }
}

