$splitterWidth: 4px;
:host {
  position: absolute;
  z-index: 100;
}

.splt-vertical {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: $splitterWidth;
  cursor: col-resize;
}

.splt-horizontal {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  height: $splitterWidth;
  cursor: row-resize;
}

.splt-edge-left {
  position: absolute;
  z-index: 100;
  left: 0;
}

.splt-edge-right {
  position: absolute;
  z-index: 100;
  right: 0;
}

.splt-edge-top {
  position: absolute;
  z-index: 100;
  top: 0;
}

.splt-edge-bottom {
  position: absolute;
  z-index: 100;
  bottom: 0;
}
