:host {
  box-sizing: border-box;
}

canvas.command-index {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px;
}

.command-text {
  font-size: 14px;
}

div.command-container.hovering {
  background-color: rgba(0, 0, 0, 0.1);
}

div.command-container.selected {
  background-color: rgba(0, 0, 0, 0.2);
}
