:host {
  box-sizing: border-box;
  padding: 4px;
}

canvas.command-index {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px;
}

div.command-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.command-container.selected {
  background-color: rgba(0, 0, 0, 0.2);
}
