<div
  class="command-container"
  [class.selected]="isSelected"
  [class.hovering]="isHovering"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxFlex
  (mouseenter)="onCommandHoverEvent(true)"
  (mouseleave)="onCommandHoverEvent(false)">
  <canvas #drawCommandIndexCanvas class="command-index"></canvas>
  <span class="command-text" fxFlex>{{ drawCommandEndPointText }}</span>
  <button md-icon-button
    mdTooltip="Convert"
    mdTooltipPosition="above"
    md-theme="dark"
    [fxShow]="isConvertable()"
    fxLayoutAlign="center center"
    (click)="onConvertButtonClick($event)">
    <md-icon class="md-24">build</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Delete"
    mdTooltipPosition="above"
    md-theme="dark"
    fxLayoutAlign="center center"
    [fxShow]="isUnsplittable()"
    (mouseenter)="onUnsplitHoverEvent(true)"
    (mouseleave)="onUnsplitHoverEvent(false)"
    (click)="onUnsplitButtonClick($event)">
    <md-icon class="md-24">delete</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Add"
    mdTooltipPosition="above"
    md-theme="dark"
    [fxShow]="isSplittable()"
    fxLayoutAlign="center center"
    (mouseenter)="onSplitHoverEvent(true)"
    (mouseleave)="onSplitHoverEvent(false)"
    (click)="onSplitButtonClick($event)">
    <md-icon class="md-24">add</md-icon>
  </button>
</div>

