<div class="command-container"
  fxLayout="row"
  fxLayoutAlign="start center"
  [class.is-selected]="isSelected"
  [class.is-hovering]="isHovering"
  (click)="onCommandClick($event)"
  (mouseenter)="onCommandHoverEvent(true)"
  (mouseleave)="onCommandHoverEvent(false)">
  <span>{{ getCommandText() }}</span>
  <span fxFlex></span>
  <button md-icon-button
    mdTooltip="Reverse"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isReversible()"
    (click)="onReverseClick()">
    <md-icon svgIcon="reverse"></md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift back"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isShiftable()"
    (click)="onShiftBackClick()">
    <md-icon>skip_previous</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift forwards"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isShiftable()"
    (click)="onShiftForwardClick()">
    <md-icon>skip_next</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Convert"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isConvertable()"
    (click)="onConvertButtonClick($event)">
    <md-icon>build</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Delete"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isUnsplittable()"
    (mouseenter)="onUnsplitHoverEvent(true)"
    (mouseleave)="onUnsplitHoverEvent(false)"
    (click)="onUnsplitButtonClick($event)">
    <md-icon>delete</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Add"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="isSplittable()"
    (mouseenter)="onSplitHoverEvent(true)"
    (mouseleave)="onSplitHoverEvent(false)"
    (click)="onSplitButtonClick($event)">
    <md-icon>add</md-icon>
  </button>
</div>

