<h1 class="header">Login with Firebase or Social Providers</h1>
<div class="container">
    <div class="row"
        *ngIf="this.isEmailPasswordLoginEnabled">
        <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email"
                        formControlName="email"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                        class="form-control"
                        formControlName="password">
                    <label class="error">{{ errorMessage }}</label>
                </div>
                <button type="submit"
                    (click)="tryLogin(loginForm.value)"
                    class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
    <div class="row"
        *ngIf="this.isFacebookLoginEnabled">
        <div class="col-md-4 col-md-offset-4">
            <button type="button"
                class="btn btn-primary btn-block"
                (click)="tryFacebookLogin()">Login with Facebook</button>
        </div>
    </div>
    <div class="row"
        *ngIf="this.isGoogleLoginEnabled">
        <div class="col-md-4 col-md-offset-4">
            <button type="button"
                class="btn btn-danger btn-block"
                (click)="tryGoogleLogin()">Login with Google</button>
        </div>
    </div>
    <div class="row"
        *ngIf="this.isTwitterLoginEnabled">
        <div class="col-md-4 col-md-offset-4">
            <button type="button"
                class="btn btn-info btn-block"
                (click)="tryTwitterLogin()">Login with Twitter</button>
        </div>
    </div>
    <div class="row"
        *ngIf="this.isEmailPasswordLoginEnabled">
        <div class=" col-md-4 col-md-offset-4 ">
            <p>No account yet?
                <a href="/register">Create an account</a>
            </p>
        </div>
    </div>
</div>