<div *ngIf="(this.model$ | async) as model"
  class="tool-panel mat-elevation-z4"
  fxLayout="column"
  fxFlex>
  <button class="tool-button"
    [class.is-checked]="model.isSelectionChecked"
    (click)="onSelectionClick()">
    <mat-icon svgIcon="tool_select"></mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.isRotateItemsChecked"
    [disabled]="!model.isRotateItemsEnabled"
    (click)="onRotateItemsClick()">
    <mat-icon>crop_rotate</mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.isTransformPathsChecked"
    [disabled]="!model.isTransformPathsEnabled"
    (click)="onTransformPathsClick()">
    <mat-icon>transform</mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.toolMode === this.TOOL_MODE_PENCIL"
    (click)="onPencilClick()">
    <mat-icon svgIcon="tool_pencil"></mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.isEditPathChecked"
    (click)="onEditPathClick()">
    <mat-icon svgIcon="tool_vector"></mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.toolMode === this.TOOL_MODE_ELLIPSE"
    (click)="onEllipseClick()">
    <mat-icon svgIcon="tool_ellipse"></mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.toolMode === this.TOOL_MODE_RECTANGLE"
    (click)="onRectangleClick()">
    <mat-icon svgIcon="tool_rectangle"></mat-icon>
  </button>
  <button class="tool-button"
    [class.is-checked]="model.toolMode === this.TOOL_MODE_ZOOMPAN"
    (click)="onZoomPanClick()">
    <mat-icon>zoom_in</mat-icon>
  </button>
</div>