<div *ngIf="(this.toolModeService.getToolModeObservable() | async) as toolMode"
  class="tool-panel mat-elevation-z4"
  fxLayout="column"
  fxFlex>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_SELECT">
    <md-icon svgIcon="tool_select"
      (click)="onSelectClick()">
    </md-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_DETAIL_SELECT">
    <md-icon svgIcon="tool_detailselect"
      (click)="onDetailSelectClick()">
    </md-icon>
  </div>
  <!-- <md-icon svgIcon="tool_draw"></md-icon> -->
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_PEN">
    <md-icon svgIcon="tool_bezier"
      (click)="onPenClick()">
    </md-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_ZOOMPAN">
    <md-icon svgIcon="tool_zoompan"
      (click)="onZoomPanClick()">
    </md-icon>
  </div>
  <input [(ngModel)]="this.fillColor">
  <input [(ngModel)]="this.strokeColor">
</div>
