<div *ngIf="(this.toolMode$ | async) as toolMode"
  class="tool-panel mat-elevation-z4"
  fxLayout="column"
  fxFlex>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_SELECT">
    <mat-icon svgIcon="tool_select"
      (click)="onSelectClick()">
    </mat-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_PENCIL">
    <mat-icon svgIcon="tool_pencil"
      (click)="onPencilClick()">
    </mat-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_VECTOR">
    <mat-icon svgIcon="tool_vector"
      (click)="onVectorClick()">
    </mat-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_ELLIPSE">
    <mat-icon svgIcon="tool_ellipse"
      (click)="onEllipseClick()">
    </mat-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_RECTANGLE">
    <mat-icon svgIcon="tool_rectangle"
      (click)="onRectangleClick()">
    </mat-icon>
  </div>
  <div class="tool-button"
    [class.is-checked]="toolMode === this.TOOL_MODE_ZOOMPAN">
    <mat-icon (click)="onZoomPanClick()">zoom_in</mat-icon>
  </div>
</div>