@use 'sass:map';
@use '../../styles/palette' as *;

@mixin ss-toolbar-theme($theme) {
    $primary: map.get($theme, primary);
    $foreground: map.get($theme, ss-foreground);
    $accent-inverse: map.get($theme, accent-inverse);
    $is-dark: map.get($theme, is-dark);
    .toolbar {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
        button {
            &.MuiIconButton-root.Mui-disabled {
                .ss-icon {
                    color: mat-color($foreground, if(sass($is-dark): disabled-text; else: disabled-text-inverse));
                }
            }
        }
        button.activated {
            .ss-icon {
                color: mat-color($accent-inverse);
            }
        }
    }
}
