<div *ngIf="(this.playbackModel$ | async) as model"
  class="playback"
  fxLayout="row"
  fxLayoutAlign="center center">
  <span fxFlex></span>
  <button class="slow-motion-button"
    md-icon-button
    mdTooltip="Slow motion (S)"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="this.isSlowMotionClick($event)">
    <md-icon [class.activated]="model.isSlowMotion">slow_motion_video</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Rewind (Left)"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="this.rewindClick($event)">
    <md-icon>skip_previous</md-icon>
  </button>
  <button md-mini-fab
    mdTooltip="{{ (model.isPlaying) ? 'Pause' : 'Play' }} (Spacebar)"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="this.playPauseButtonClick($event)">
    <div
      class="play-pause-icon"
      [ngClass]="{
        'can-animate': true,
        'is-playing': model.isPlaying
      }">
    </div>
  </button>
  <button md-icon-button
    mdTooltip="Fast forward (Right)"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="this.fastForwardClick($event)">
    <md-icon>skip_next</md-icon>
  </button>
  <button class="repeating-button"
    md-icon-button
    mdTooltip="Repeat (R)"
    mdTooltipPosition="below"
    mdTooltipShowDelay="500"
    (click)="this.isRepeatingClick($event)">
    <md-icon [class.activated]="model.isRepeating">repeat</md-icon>
  </button>
  <span fxFlex></span>
</div>
