@import '../styles/variables';
@import '../styles/theme';
button {
  text-transform: uppercase;
  color: mat-color($app-accent);
  &:md-dialog-close {
    margin-right: 8px;
  }
}

md-dialog-actions {
  min-width: 220px;
}

// TODO: this text should center-align with the radio button
.dialog-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.dialog-radio-button {
  margin-bottom: 16px;
}
