@import '../styles/variables';
@import '../styles/theme';

button {
  text-transform: uppercase;
  color: md-color($app-accent);
}

// TODO: fix the text alignment here...
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin-bottom: 8px;
}
