:host {
  width: 100%;
  height: 100%;
}

div.drop-svg-container {
  background-color: #757575;
  width: 50%;
  height: 50%;
}

input.svg-file-picker {
  display: none;
}

label.svg-file-picker-label {
  width: 100%;
  height: 100%;
}

