@mixin ss-layertimeline-theme($theme) {
    $foreground: map-get($theme, ss-foreground);
    $background: map-get($theme, ss-background);
    .studio-layer-timeline {
        $headerHeight: 40px;
        background-color: mat-color($background, base);
        .slt-layers {
            .slt-header {
                .slt-layers-menu-group-button {
                    color: mat-color($foreground, secondary-text);
                    &:focus {
                        background-color: mat-color($foreground, divider);
                    }
                    &.is-disabled {
                        color: mat-color($foreground, disabled-text);
                    }
                }
                button {
                    &[md-icon-button] {
                        md-icon {
                            color: mat-color($foreground, secondary-text);
                        }
                    }
                    &[md-icon-button][disabled] {
                        md-icon {
                            color: mat-color($foreground, disabled-text);
                        }
                    }
                }
            }
            .slt-layers-list-drag-indicator {
                background-color: mat-color($background, blue400);
                &::before {
                    background-color: mat-color($background, blue400);
                }
            }
        }
        .slt-timeline {
            background-color: mat-color($background, base300);
            .slt-timeline-animation {
                position: relative;
                background-color: mat-color($background, base100);
                margin-left: 4px;
                box-sizing: content-box;
                width: 100px;
                overflow: hidden;
                flex: 0 0 auto;
                box-shadow: 4px 0 0 mat-color(mat-palette($mat-grey, 500)), -4px 0 0 mat-color(mat-palette($mat-grey, 500));
                &.is-selected {
                    background-color: mat-color($background, blue500);
                }
            }
            .slt-header {
                .slt-timeline-animation-meta {
                    height: $headerHeight / 2 - 4px;
                    line-height: $headerHeight / 2 - 4px;
                    margin: 2px -4px;
                    padding: 0 4px;
                    border-radius: 2px;
                    cursor: pointer;
                    outline: 0;
                    align-self: flex-start;
                    display: flex;
                    flex-direction: row;
                    &.is-selected,
                    &.is-selected .slt-timeline-animation-name {
                        background-color: mat-color($background, blue700);
                        color: mat-color($foreground, primary-text-inverse);
                    }
                    &.is-disabled {
                        cursor: default;
                    }
                }
                .slt-timeline-animation-name {
                    color: mat-color($foreground, primary-text);
                    margin-right: 4px;
                    font-weight: 500;
                }
            }
        }
        .slt-header {
            background-color: mat-color($background, base100);
            color: mat-color(mat-palette($mat-grey, 700));
        }
    }
}
