<ng-container *ngIf="(this.layerModel$ | async) as model">
  <div class="slt-layer slt-layer-type-{{ this.layer.getIconName() }}"
    fxLayout="row"
    fxLayoutAlign="start center"
    [ngClass]="{
      'is-selected': model.isSelected,
      'is-disabled': model.isActionMode
    }"
    (click)="this.layerClick($event, this.layer)"
    (dblclick)="this.layerToggleExpanded($event, this.layer)"
    (mousedown)="this.layerMouseDown($event, this.layer)">
    <button md-icon-button
      *ngIf="model.isExpandable"
      (click)="this.layerToggleExpanded($event, this.layer)"
      [disabled]="model.isActionMode"
      mdTooltip="{{model.isExpanded ? 'Collapse layer' : 'Expand layer'}}"
      mdTooltipPosition="right"
      mdTooltipShowDelay="1000">
      <md-icon>{{model.isExpanded ? 'expand_more' : 'chevron_right'}}</md-icon>
    </button>
    <!-- Add extra 20px margin if the expand/collapse icon isn't being displayed -->
    <md-icon svgIcon="{{this.layer.getIconName()}}"
      [style.margin-left]="model.isExpandable ? '0px' : '20px'">
    </md-icon>
    <span class="slt-layer-id-text"
      fxFlex>
      {{this.layer.name}}
    </span>
    <button md-icon-button
      class="slt-layer-action-button slt-layer-visibility-toggle"
      (click)="this.layerToggleVisibility($event, this.layer)"
      [disabled]="model.isActionMode"
      mdTooltip="{{model.isVisible ? 'Hide layer' : 'Show layer'}}"
      mdTooltipPosition="below"
      mdTooltipShowDelay="1000"
      [ngClass]="{'is-checked': model.isVisible}">
      <md-icon>{{model.isVisible ? 'visibility' : 'visibility_off'}}</md-icon>
    </button>
    <md-menu #addTimelineBlockMenu="mdMenu">
      <button *ngFor="let propertyName of model.availablePropertyNames"
        (click)="this.addTimelineBlockClick($event, layer, propertyName)"
        md-menu-item>
        {{propertyName}}
      </button>
    </md-menu>
    <button md-icon-button
      *ngIf="model.availablePropertyNames.length > 0"
      class="slt-layer-action-button"
      (click)="$event.stopPropagation()"
      [disabled]="model.isActionMode"
      mdTooltip="Animate this layer"
      mdTooltipPosition="below"
      mdTooltipShowDelay="1000"
      [mdMenuTriggerFor]="addTimelineBlockMenu">
      <md-icon svgIcon="animationblock"></md-icon>
    </button>
  </div>

  <!-- List the property names that have been animated. -->
  <div class="slt-properties"
    *ngIf="model.isExpanded && model.existingPropertyNames.length > 0">
    <div class="slt-property"
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngFor="let propertyName of model.existingPropertyNames">
      <span class="slt-property-name">{{propertyName}}</span>
      <button md-icon-button
        class="slt-property-add-timeline-block-button"
        (click)="this.addTimelineBlockClick($event, layer, propertyName)"
        [disabled]="model.isActionMode"
        mdTooltip="Add another animation"
        mdTooltipPosition="below"
        mdTooltipShowDelay="1000">
        <md-icon>add</md-icon>
      </button>
    </div>
  </div>

  <!-- List the layer's children if it is expanded. -->
  <ul *ngIf="model.isExpanded && this.layer.children.length > 0"
    class="slt-children">
    <li *ngFor="let child of this.layer.children; trackBy: this.trackLayerFn"
      class="slt-layer-container"
      [attr.data-layer-id]="child.id">
      <app-layerlisttree [layer]="child"
        (onLayerClick)="this.layerClick($event.event, $event.layer)"
        (onLayerToggleExpanded)="this.layerToggleExpanded($event.event, $event.layer)"
        (onLayerToggleVisibility)="this.layerToggleVisibility($event.event, $event.layer)"
        (onAddTimelineBlockClick)="this.addTimelineBlockClick($event.event, $event.layer, $event.propertyName)"
        (onLayerMouseDown)="this.layerMouseDown($event.event, $event.layer)">
      </app-layerlisttree>
    </li>
  </ul>
</ng-container>
