<div
  class="app-container"
  fxLayout="column">
  <!-- Toolbar. -->
  <div class="toolbar-container">
    <app-toolbar></app-toolbar>
  </div>
  <div class="display-container"
    fxLayout="column"
    fxFlex>
    <!-- Start/Preview/End canvases. -->
    <div
      #canvasContainer
      class="canvas-container"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex>
      <app-canvas [canvasType]="START_CANVAS"></app-canvas>
      <app-canvas *ngIf="morphabilityStatus === MORPHABILITY_MORPHABLE"
        [canvasType]="PREVIEW_CANVAS"></app-canvas>
      <app-canvas [canvasType]="END_CANVAS"></app-canvas>
    </div>
    <!-- Timeline controls. -->
    <app-timeline></app-timeline>
  </div>
  <div
    class="inspector-container"
    fxLayout="row">
    <!-- Start path inspector. -->
    <div class="inspector-panel"
      fxLayout="column">
      <div class="inspector-panel-header"
        fxLayoutAlign="start center">
        <span>Start path</span>
      </div>
      <app-pathselector fxFlex
        [canvasType]="START_CANVAS"></app-pathselector>
    </div>
    <!-- End path inspector. -->
    <div class="inspector-panel"
      fxLayout="column">
      <div class="inspector-panel-header"
        fxLayoutAlign="start center">
        <span>End path</span>
      </div>
      <app-pathselector fxFlex
        [canvasType]="END_CANVAS"></app-pathselector>
    </div>
    <!-- Point inspector. -->
    <div class="inspector-panel"
      fxLayout="column"
      fxFlex>
      <div class="inspector-panel-header"
        fxLayout="row"
        fxLayoutAlign="start center">
        <span *ngIf="morphabilityStatus !== MORPHABILITY_NONE">Status:
          <span [ngClass]="{
            'status-text-unmorphable': morphabilityStatus === MORPHABILITY_UNMORPHABLE,
            'status-text-morphable': morphabilityStatus === MORPHABILITY_MORPHABLE}">
            <strong>{{morphabilityStatus === MORPHABILITY_MORPHABLE ? 'Morphable' : 'Unmorphable'}}</strong>
          </span>
        </span>
        <span fxFlex></span>
        <!-- TODO: enable/disable these buttons appropriately? -->
        <button md-icon-button
          class="global-setting"
          [disabled]="true"
          fxHide
          mdTooltip="Add points mode"
          mdTooltipPosition="above">
          <!-- TODO: implement this -->
          <md-icon [class.activated]="false">add</md-icon>
        </button>
        <button md-icon-button
          class="global-setting"
          [disabled]="true"
          mdTooltip="Auto fix"
          mdTooltipShowDelay="500"
          mdTooltipPosition="below">
          <!-- TODO: implement this -->
          <md-icon svgIcon="autofix" [class.activated]="false"></md-icon>
        </button>
        <span></span>
      </div>
      <div class="inspector-panel-body"
        fxLayout="row"
        fxFlex>
        <app-inspector></app-inspector>
      </div>
    </div>
    <!-- Preview panel. -->
    <div class="inspector-panel"
      fxLayout="column">
      <div class="inspector-panel-header"
        fxLayoutAlign="start center">
        <span>Preview</span>
      </div>
      <app-settings></app-settings>
    </div>
  </div>
</div>

