:host,
.app-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

// TODO(alockwood): fix this hack
div.pointlist-container {
  height: 800px;
  overflow: auto;
}
