@import './styles/material-colors';
@import './styles/material-shadows';
@import './styles/variables';
@import './styles/theme';
:host,
.app-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div.toolbar-container {
  position: relative;
  z-index: 1;
}

div.display-container {
  box-sizing: border-box;
  padding: 16px;
  background-color: material-color('grey', '300');
  user-select: none;
}

app-canvas {
  margin-left: 24px;
  margin-right: 24px;
}

div.inspector-container {
  height: 320px;
  background-color: material-color('grey', '50');
}

div.app-splitter {
  height: 8px;
  margin-bottom: 8px;
}

div.app-splitter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.inspector-panel {
  height: 100%;
  box-shadow: 0px 0 0 material-color('grey', '500'), -4px 0 0 material-color('grey', '500');
  .inspector-panel-header {
    padding-left: 8px;
    padding-right: 8px;
    background-color: material-color('grey', '50');
    box-shadow: material-shadow(1);
    min-height: 40px;
    span {
      font-weight: 400;
      font-size: 14px;
      color: $colorBlackTextSecondary;
      margin: 4px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      -o-box-decoration-break: clone;
    }
    button {
      &[md-icon-button] {
        md-icon {
          color: $colorBlackTextSecondary;
          font-size: 20px;
        }
        md-icon.activated {
          color: material-color('orange', '900');
        }
        md-icon.svg-button {
          width: 20px;
          height: 20px;
        }
      }
      &[md-icon-button][disabled] {
        md-icon {
          color: $colorBlackTextDisabled;
        }
      }
      &[md-menu-item] {
        input[type="file"] {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
        }
         ::-webkit-file-upload-button {
          cursor: pointer;
        }
      }
    }
    span.morphable {
      margin-left: 2px;
      color: mat-color($app-accent);
    }
    span.unmorphable {
      margin-left: 2px;
      color: material-color('red', '700');
    }
  }
  .inspector-panel-body {
    overflow: auto;
    .inspector-panel-empty-state {
      margin: 32px;
      color: $colorBlackTextDisabled;
    }
  }
}

.show-pen-cursor {
  cursor: url(/assets/penaddcursorsmall.png) 5 0, auto;
}
