<div class="app-container">
  <div fxLayout="row">
    <div fxFlex="2.5%"></div>
    <app-canvas #startCanvas class="studio-canvas" fxFlex="30%"></app-canvas>
    <div fxFlex="2.5%"></div>
    <app-canvas #previewCanvas class="studio-canvas" fxFlex="30%"></app-canvas>
    <div fxFlex="2.5%"></div>
    <app-canvas #endCanvas class="studio-canvas" fxFlex="30%"></app-canvas>
    <div fxFlex="2.5%"></div>
  </div>
  <app-timeline fxLayout="row" fxLayoutAlign="center center"></app-timeline>
  <app-pointlist #startPointList fxLayout="row" ></app-pointlist>
</div>
