<div
  #appContainer
  class="app-container"
  fxLayout="column">
    <div class="preview-banner">
      <i class="material-icons">info</i>
      <span class="message-text">
        This is a preview release. Message
        <a href="https://twitter.com/alexjlockwood" target="_blank">@alexjlockwood</a>
        with feedback and view the source code on
        <a href="https://github.com/alexjlockwood/ShapeShifter" target="_blank">GitHub</a>.
      </span>
    </div>
  <div
    class="animation-container"
    fxLayout="column"
    fxFlex="1 0 auto">
    <div
      #canvasContainer
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxFlex="1 0 auto">
      <app-canvas
        *ngIf="shouldDisplayStartEditor"
        class="canvas-item"
        [editorType]="startVectorLayerType">
      </app-canvas>
      <app-droptarget
        *ngIf="!shouldDisplayStartEditor"
        class="canvas-item"
        [editorType]="startVectorLayerType">
      </app-droptarget>
      <app-canvas
        *ngIf="isMorphable"
        class="canvas-item"
        [editorType]="previewVectorLayerType">
      </app-canvas>
      <app-canvas
        *ngIf="shouldDisplayEndEditor"
        class="canvas-item"
        [editorType]="endVectorLayerType">
      </app-canvas>
      <app-droptarget
        *ngIf="!shouldDisplayEndEditor"
        class="canvas-item"
        [editorType]="endVectorLayerType">
      </app-droptarget>
    </div>
    <app-timeline
      *ngIf="shouldDisplayStartEditor && shouldDisplayEndEditor">
    </app-timeline>
  </div>
  <div
    #inspectorContainer
    class="inspector-container"
    fxLayout="column">
    <!-- TODO: the splitter shouldn't be scrollable -->
    <div
      appSplitter
      class="app-splitter"
      (onDividerDrag)="onDividerDrag($event)">
    </div>
    <div
      *ngIf="shouldDisplayStartEditor && shouldDisplayEndEditor"
      fxLayout="row"
      fxLayoutAlign="space-around">
      <app-inspector
        fxFlex="37.5%"
        [editorType]="startVectorLayerType">
      </app-inspector>
      <app-inspector
        fxFlex="37.5%"
        [editorType]="endVectorLayerType">
      </app-inspector>
    </div>
  </div>
</div>
