@import './styles/material-colors';
@import './styles/material-shadows';
@import './styles/variables';
@import './styles/theme';

:host,
.app-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div.toolbar-container {
  position: relative;
  z-index: 1;
}

div.display-container {
  box-sizing: border-box;
  padding: 16px;
  background-color: material-color('grey', '300');
  user-select: none;
}

app-canvas {
  margin-left: 24px;
  margin-right: 24px;
}

div.inspector-container {
  height: 320px;
  background-color: material-color('grey', '100');
}

div.app-splitter {
  height: 8px;
  margin-bottom: 8px;
}

div.app-splitter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.inspector-panel {
  box-shadow: 0px 0 0 material-color('grey', '500'), -4px 0 0 material-color('grey', '500');
  .inspector-panel-header {
    background-color: material-color('grey', '100');
    box-shadow: material-shadow(1);
    min-height: 48px;
    span {
      color: $colorBlackTextSecondary;
      margin: 8px;
    }
    .status-text-morphable {
      color: md-color($app-accent);
    }
    .status-text-unmorphable {
      color: md-color($app-warn);
    }
  }
  .inspector-panel-body {
    overflow: auto;
    .inspector-panel-empty-state {
      margin: 32px;
      color: $colorBlackTextDisabled;
    }
  }
}

