$colorBlackPrimary: rgba(#000, 0.87);
$colorBlackSecondary: rgba(#000, 0.54);

$cardWidth: 296px;
$cardGutter: 24px;
$headerOverlap: 48px;

@function card-span($numCards) {
    @return $cardWidth * $numCards + $cardGutter * ($numCards - 1);
}

@function card-span-outer($numCards) {
    @return card-span($numCards) + $cardGutter * 2;
}

.outer-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    .inner-container {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        padding: 0 0 0 24px;

        @for $i from 1 through 3 {
            @media only screen and (min-width: card-span-outer($i)) {
                width: card-span-outer($i);
            }
        }

        .project-card {
            display: flex;
            flex-direction: column;
            width: $cardWidth;
            margin: 0 24px 24px 0;
            background-color: #fff;
            border-radius: 2px;
            text-decoration: none;
            overflow: hidden;
            transition: box-shadow 0.1s ease;
            outline: 0;

            .project-image {
                width: $cardWidth;
                height: $cardWidth / 1.48;
            }

            .project-info-outer {
                display: flex;
                flex-direction: row;
                .project-info-inner {
                    display: flex;
                    flex-direction: column;
                    .project-title {
                        margin: 16px 16px 0 16px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        color: $colorBlackPrimary;
                    }

                    .project-description {
                        margin: 4px 16px 16px 16px;
                        font-size: 14px;
                        line-height: 20px;
                        color: $colorBlackSecondary;
                    }
                }
            }
        }
    }
}
