<div class="outer-container">
    <div class="inner-container">
        <!-- TODO: make the cursor change to a pointer when hovering on top of the card-->
        <div *ngFor="let projectItem of this.projectItems; trackBy: this.trackByFn"
            class="project-card mat-elevation-z4"
            (click)="this.onProjectClick(projectItem.project)">
            <div class="project-image"
                matRipple>
                <!-- TODO: replace this with the actual project image -->
                <img src="/assets/shapeshifter-preview.svg">
            </div>
            <div class="project-info-outer">
                <div class="project-info-inner">
                    <div class="project-title">{{ projectItem.project.name }}</div>
                    <div class="project-description">{{ projectItem.project.userId }}</div>
                </div>
                <ng-container *ngIf="projectItem.isOwner">
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item
                            (click)="this.onDeleteProjectClick(projectItem.project)">
                            Delete
                        </button>
                    </mat-menu>
                    <button mat-icon-button
                        [matMenuTriggerFor]="appMenu"
                        (click)="$event.stopPropagation()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>