<div class="app-canvas-container">
  <canvas appCanvasRuler
    #horizontalRuler
    class="canvas-ruler orientation-horizontal"
    [orientation]="'horizontal'">
  </canvas>
  <canvas appCanvasRuler
    #verticalRuler
    class="canvas-ruler orientation-vertical"
    [orientation]="'vertical'">
  </canvas>
  <div #canvasContainer
    class="canvas-container"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()">
    <canvas #renderingCanvas
      appCanvasLayers
      class="rendering-canvas">
    </canvas>
    <canvas #overlayCanvas
      appCanvasOverlay
      class="overlay-canvas">
    </canvas>
  </div>
</div>
