<div class="app-canvas-container">
  <canvas appCanvasRuler #horizontalRuler class="canvas-ruler orientation-horizontal"
    [canvasType]="canvasType" [orientation]="'horizontal'">
  </canvas>
  <canvas appCanvasRuler #verticalRuler class="canvas-ruler orientation-vertical"
    [canvasType]="canvasType" [orientation]="'vertical'">
  </canvas>
  <div #canvasContainer class="canvas-container" (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave($event)" (click)="onClick($event)"
    (dblclick)="onDoubleClick($event)">
    <canvas #renderingCanvas class=" rendering-canvas ">
    </canvas>
    <canvas #overlayCanvas class="overlay-canvas ">
    </canvas>
  </div>
</div>
