<app-splitter persist-id="property-inspector"
  edge="left"
  min="200">
</app-splitter>
<ng-container *ngIf="(propertyInputModel$ | async) as data">
  <div *ngIf="!data"
    class="spi-empty"
    fxFlex>
    Select something to edit its properties
  </div>
  <div *ngIf="data"
    fxLayout="column"
    fxFlex>
    <div class="spi-header"
      fxFlex="none">
      <md-icon class="spi-selection-icon"
        svgIcon="{{data.icon}}">
      </md-icon>
      <div class="spi-selection-description-container"
        fxLayout="column"
        fxFlex>
        <span class="spi-selection-description">{{data.description}}</span>
        <span class="spi-selection-sub-description">{{data.subDescription}}</span>
      </div>
    </div>
    <div class="spi-body"
      fxLayout="column"
      fxFlex>
      <div class="spi-empty"
        *ngIf="!data.inspectedProperties.length"
        fxFlex>
        No shared properties to view or edit
      </div>
      <div class="spi-property"
        *ngFor="let ip of data.inspectedProperties">
        <div class="spi-property-name">{{ip.propertyName}}</div>
        <div class="spi-property-value"
          fxLayout="row">
          <div *ngIf="ip.typeName === 'ColorProperty'"
            class="spi-property-color-preview"
            [style.background-color]="this.androidToCssColor(ip.value)">
          </div>
          <span *ngIf="!ip.editable"
            class="spi-property-value-static"
            fxFlex>
            {{ip.displayValue}}
          </span>
          <div *ngIf="ip.editable"
            class="spi-property-value-editor"
            fxLayout="column"
            fxFlex>
            <!-- fix this ngModel crash -->
            <!-- [(ngModel)]="ip.editableValue" -->
            <input (keydown)="this.onValueEditorKeyDown($event, ip)"
              (blur)="ip.resolveEnteredValue()"
              *ngIf="ip.typeName == 'NameProperty'
                  || ip.typeName == 'PathProperty'
                  || ip.typeName == 'ColorProperty'
                  || ip.typeName == 'NumberProperty'
                  || ip.typeName == 'FractionProperty'">
            <md-menu #enumMenu="mdMenu">
              <button *ngFor="let option of ip.property.options"
                (click)="ip.value = option.value;"
                md-menu-item>
                {{option.label}}
              </button>
            </md-menu>
            <button *ngIf="ip.typeName == 'EnumProperty'"
              class="spi-property-value-menu-target"
              [mdMenuTriggerFor]="enumMenu">
              <span class="spi-property-value-menu-current-value">{{ip.displayValue}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
