<app-splitter [persistId]="'property-inspector'"
  [edge]="'left'"
  [min]="200">
</app-splitter>
<ng-container *ngIf="(this.propertyInputModel$ | async) as model">
  <!-- No shared properties selected. -->
  <div *ngIf="model.numSelections === 0"
    class="spi-empty"
    fxFlex>
    Select something to edit its properties
  </div>
  <!-- At least one shared property selected. -->
  <div *ngIf="model.numSelections > 0"
    fxLayout="column"
    fxFlex>
    <div class="spi-header"
      fxFlex="none">
      <md-icon class="spi-selection-icon"
        svgIcon="{{model.icon}}">
      </md-icon>
      <div class="spi-selection-description-container"
        fxLayout="column"
        fxFlex>
        <span class="spi-selection-description">{{model.description}}</span>
        <span class="spi-selection-sub-description">{{model.subDescription}}</span>
      </div>
    </div>
    <div class="spi-body"
      fxLayout="column"
      fxFlex>
      <div class="spi-empty"
        *ngIf="!model.inspectedProperties.length"
        fxFlex>
        No shared properties to view or edit
      </div>
      <div class="spi-property"
        *ngFor="let ip of model.inspectedProperties; trackBy: trackInspectedPropertyFn">
        <div class="spi-property-name">{{ip.propertyName}}</div>
        <div class="spi-property-value"
          fxLayout="row">
          <div *ngIf="ip.typeName === 'ColorProperty'"
            class="spi-property-color-preview"
            [style.background-color]="this.androidToCssColor(ip.value)">
          </div>
          <span *ngIf="!ip.editable"
            class="spi-property-value-static"
            fxFlex>
            <!-- Don't show an input element if the property isn't inspectable. -->
            {{ip.displayValue}}
          </span>
          <div *ngIf="ip.editable"
            class="spi-property-value-editor"
            fxLayout="column"
            fxFlex>
            <input (keydown)="this.onValueEditorKeyDown($event, ip)"
              (blur)="ip.resolveEnteredValue()"
              [(ngModel)]="ip.editableValue"
              *ngIf="ip.typeName === 'NameProperty'
                  || ip.typeName === 'PathProperty'
                  || ip.typeName === 'ColorProperty'
                  || ip.typeName === 'NumberProperty'
                  || ip.typeName === 'FractionProperty'">
            <ng-container *ngIf="ip.typeName === 'EnumProperty'">
              <md-menu #enumMenu="mdMenu">
                <button *ngFor="let option of ip.property.options; trackBy: trackEnumOptionFn"
                  (click)="ip.value = option.value;"
                  md-menu-item>
                  {{option.label}}
                </button>
              </md-menu>
              <button class="spi-property-value-menu-target"
                [mdMenuTriggerFor]="enumMenu">
                <span class="spi-property-value-menu-current-value">{{ip.displayValue}}</span>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
