<button md-icon-button
  mdTooltip="Add point"
  mdTooltipPosition="above"
  md-theme="dark"
  (click)="onAddPointClick()">
  <md-icon class="md-24">add</md-icon>
</button>
<button md-icon-button
  mdTooltip="Reverse"
  mdTooltipPosition="above"
  md-theme="dark"
  (click)="onReversePointsClick()">
  <md-icon class="md-24">autorenew</md-icon>
</button>
<button md-icon-button
  mdTooltip="Shift back"
  mdTooltipPosition="above"
  md-theme="dark"
  (click)="onShiftBackPointsClick()">
  <md-icon class="md-24">skip_previous</md-icon>
</button>
<button md-icon-button
  mdTooltip="Shift forwards"
  mdTooltipPosition="above"
  md-theme="dark"
  (click)="onShiftForwardPointsClick()">
  <md-icon class="md-24">skip_next</md-icon>
</button>
<div>
  <div *ngFor="let commandStrings of pathLayerCommandStrings"
    fxLayout="column">
    <app-pointitem *ngFor="let commandString of commandStrings; let i = index"
      fxLayout="row"
      fxLayoutAlign="start center"
      [commandIndex]="i"
      [commandString]="commandString"></app-pointitem>
  </div>
</div>

