<button md-icon-button mdTooltip="Reverse" mdTooltipPosition="above" md-theme="dark">
  <md-icon class="md-24">autorenew</md-icon>
</button>
<button md-icon-button mdTooltip="Shift backwards" mdTooltipPosition="above" md-theme="dark">
  <md-icon class="md-24">skip_previous</md-icon>
</button>
<button md-icon-button mdTooltip="Shift forwards" mdTooltipPosition="above" md-theme="dark">
  <md-icon class="md-24">skip_next</md-icon>
</button>
<ol>
  <li *ngFor="let command of commands; let i = index">
    {{ command }}
  </li>
</ol>
