<app-header [isAuthenticated]="this.isAuthenticated$ | async"
    (createNewProjectClick)="this.onCreateNewProjectClick()"
    (signInClick)="this.onSignInClick()"
    (signOutClick)="this.onSignOutClick()">
</app-header>

<div class="home-container">
    <div class="home-header">
        <div class="inner">
            <h1>Shape Shifter</h1>
            <p class="subtitle">
                An SVG icon animation tool for Android, iOS, and the web.
            </p>
        </div>
    </div>
    <app-projectgrid *ngIf="this.isAuthenticated$ | async"
        [projects]="this.projects$ | async">
    </app-projectgrid>
</div>