<div class="inspector-item" fxLayout="row" fxLayoutAlign="start center"
  [class.is-selected]="isSelectedObservable | async" [class.is-hovering]="isHovering()"
  (click)="onPointClick($event)" [class.cursor-pointer]="shouldShowPointerCursorObservable | async"
  (mouseenter)="onPointHover(true)" (mouseleave)="onPointHover(false)">
  <span class="command-number">{{ this.cmdIdx + 1 }}.</span>
  <span class="command-text">{{ this.command | toSvgText }}</span>
  <span fxFlex></span>
  <button md-icon-button mdTooltip="Delete point" mdTooltipPosition="below"
    mdTooltipShowDelay="300" *ngIf="shouldShowDeletePoint()" (mouseenter)="onDeletePointHover(true)"
    (mouseleave)="onDeletePointHover(false)" (click)="onDeletePointClick($event)"
    [disabled]="shouldDisableDeletePoint()">
    <md-icon>delete</md-icon>
  </button>
</div>
