<div class="command-container"
  fxLayout="row"
  fxLayoutAlign="start center"
  [class.is-selected]="isSelected"
  [class.is-hovering]="isHovering"
  (click)="onCommandClick($event)"
  (mouseenter)="onCommandHoverEvent(true)"
  (mouseleave)="onCommandHoverEvent(false)">
  <span class="command-number">{{ this.cmdIdx + 1 }}.</span>
  <span class="command-text">{{ getCommandText() }}</span>
  <span fxFlex></span>
  <button md-icon-button
    mdTooltip="Shift back"
    mdTooltipPosition="above"
    mdTooltipShowDelay="500"
    *ngIf="isShiftable()"
    (mouseenter)="onShiftBackHoverEvent(true)"
    (mouseleave)="onShiftBackHoverEvent(false)"
    (click)="onShiftBackClick($event)">
    <md-icon>skip_previous</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift forward"
    mdTooltipPosition="above"
    mdTooltipShowDelay="500"
    *ngIf="isShiftable()"
    (mouseenter)="onShiftForwardHoverEvent(true)"
    (mouseleave)="onShiftForwardHoverEvent(false)"
    (click)="onShiftForwardClick($event)">
    <md-icon>skip_next</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Reverse"
    mdTooltipPosition="above"
    mdTooltipShowDelay="500"
    *ngIf="isReversible()"
    (mouseenter)="onReverseHoverEvent(true)"
    (mouseleave)="onReverseHoverEvent(false)"
    (click)="onReverseClick($event)">
    <md-icon svgIcon="reverse"></md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Delete"
    mdTooltipPosition="above"
    mdTooltipShowDelay="500"
    *ngIf="isUnsplittable()"
    (mouseenter)="onUnsplitHoverEvent(true)"
    (mouseleave)="onUnsplitHoverEvent(false)"
    (click)="onUnsplitButtonClick($event)">
    <md-icon>delete</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Add"
    mdTooltipPosition="above"
    mdTooltipShowDelay="500"
    *ngIf="isSplittable()"
    (mouseenter)="onSplitHoverEvent(true)"
    (mouseleave)="onSplitHoverEvent(false)"
    (click)="onSplitButtonClick($event)">
    <md-icon>add</md-icon>
  </button>
</div>

