@import '../styles/variables';
@import '../styles/theme';

:host {
  user-select: none;
}

.subpath-container {
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
.subpath-header-listitem {
  box-sizing: border-box;
  height: 20px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 2px;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  color: $colorBlackTextSecondary;
  border-radius: 2px;
  button {
    line-height: 16px;
    height: 20px;
    width: 20px;
    min-height: 20px;
    md-icon {
      line-height: normal;
      vertical-align: top;
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
  &.is-hovering {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.is-selected {
    background-color: md-color($app-accent);
    box-shadow: none;
    color: #fff;
  }
}

app-inspectoritem {
  margin-left: 20px;
}
}
