<!-- TODO: avoid code reuse here... subpath item shouldnt use pointer cursor -->
<div class="command-container" fxLayout="row" fxLayoutAlign="start center">
  <strong><span class="subpath-text">{{subPathText}}</span></strong>
  <span fxFlex></span>
  <button md-icon-button mdTooltip="Delete subpath" mdTooltipPosition="above"
    mdTooltipShowDelay="500" *ngIf="isUnsplittable()" (click)="onUnsplitButtonClick($event)">
    <md-icon>delete</md-icon>
  </button>
  <button md-icon-button mdTooltip="{{'Swap with subpath #' + this.subIdx}}"
    mdTooltipPosition="above" mdTooltipShowDelay="500" *ngIf="canSubPathBeMovedUp()"
    (click)="onMoveSubPathUpClick($event)">
    <md-icon>arrow_upward</md-icon>
  </button>
  <button md-icon-button mdTooltip="{{'Swap with subpath #' + (this.subIdx + 2)}}"
    mdTooltipPosition="above" mdTooltipShowDelay="500" *ngIf="canSubPathBeMovedDown()"
    (click)="onMoveSubPathDownClick($event)">
    <md-icon>arrow_downward</md-icon>
  </button>
</div>
