<div fxLayout="column">
  <div *ngFor="
       let subPathCmdItem of subPathCommandItems;
       trackBy: trackSubPathCommand">
    <div fxLayout="row"
      fxLayoutAlign="start center"
      class="subpath-header-listitem">
      <button md-icon-button
        (click)="toggleExpandedState(subPathCmdItem.subIdx)">
        <md-icon>{{subPathCmdItem.isExpanded ? 'expand_less' : 'expand_more'}}</md-icon>
      </button>
      <div fxFlex
        (click)="toggleExpandedState(subPathCmdItem.subIdx)">
        {{ 'Subpath #' + (subPathCmdItem.subIdx + 1)}}
      </div>
    </div>
    <div [hidden]="!subPathCmdItem.isExpanded">
      <div fxLayout="row">
        <div fxLayout="column">
          <app-inspectoritem [canvasType]="START_CANVAS"
            [subIdx]="subPathCmdItem.subIdx"
            [cmdIdx]="cmdIdx"
            [command]="cmdItem.command"
            *ngFor="let cmdItem of subPathCmdItem.startCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-inspectoritem>
        </div>
        <div fxLayout="column">
          <app-inspectoritem [canvasType]="END_CANVAS"
            [subIdx]="subPathCmdItem.subIdx"
            [cmdIdx]="cmdIdx"
            [command]="cmdItem.command"
            *ngFor="let cmdItem of subPathCmdItem.endCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-inspectoritem>
        </div>
      </div>
    </div>
  </div>
  <span fxFlex></span>
</div>

