@import '../styles/variables';
@import '../styles/theme';
:host {
  user-select: none;
}

.subpath-container {
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  app-inspectorsubpath,
  app-inspectoritem {
    margin-left: 20px;
  }
}
