<div fxLayout="row" fxLayoutWrap fxLayoutGap="8px">
  <div class="subpath-container" *ngFor="
       let subPathCmdItem of (subPathItemsObservable | async | toSubPathItems);
       trackBy: trackSubPath">
    <div fxLayout="row">
      <div fxLayout="column">
        <app-inspectorsubpath [canvasType]="START_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [subPath]="subPathCmdItem.startSubPath">
        </app-inspectorsubpath>
        <app-inspectoritem [canvasType]="START_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [cmdIdx]="cmdIdx" [command]="command" *ngFor="let command of subPathCmdItem.startCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
        </app-inspectoritem>
      </div>
      <div fxLayout="column">
        <app-inspectorsubpath [canvasType]="END_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [subPath]="subPathCmdItem.endSubPath">
        </app-inspectorsubpath>
        <app-inspectoritem [canvasType]="END_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [cmdIdx]="cmdIdx" [command]="command" *ngFor="let command of subPathCmdItem.endCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
        </app-inspectoritem>
      </div>
    </div>
  </div>
  <span fxFlex></span>
</div>
