<div fxLayout="column" class="path-container">
  <div class="subpath-container" *ngFor="
       let subPathCmdItem of (subPathItemsObservable | async | toSubPathItems);
       trackBy: trackSubPath">
    <div fxLayout="row">
      <div class="subpath-border" [class.is-selected]="subPathCmdItem.isStartSubPathSelected"
        fxLayout="column">
        <app-subpathinspector [canvasType]="START_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [subPath]="subPathCmdItem.startSubPath">
        </app-subpathinspector>
        <ng-container *ngIf="shouldShowDetailsObservable | async">
          <app-commandinspector [canvasType]="START_CANVAS" [subIdx]="subPathCmdItem.subIdx"
            [cmdIdx]="cmdIdx" [command]="command" *ngFor="let command of subPathCmdItem.startCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-commandinspector>
        </ng-container>
      </div>
      <div class="subpath-border" [class.is-selected]="subPathCmdItem.isEndSubPathSelected"
        fxLayout="column">
        <app-subpathinspector [canvasType]="END_CANVAS" [subIdx]="subPathCmdItem.subIdx"
          [subPath]="subPathCmdItem.endSubPath">
        </app-subpathinspector>
        <ng-container *ngIf="shouldShowDetailsObservable | async">
          <app-commandinspector [canvasType]="END_CANVAS" [subIdx]="subPathCmdItem.subIdx"
            [cmdIdx]="cmdIdx" [command]="command" *ngFor="let command of subPathCmdItem.endCmdItems;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-commandinspector>
        </ng-container>
      </div>
    </div>
  </div>
  <span fxFlex></span>
</div>
