<div fxLayout="column" class="path-container">
  <div class="subpath-container" *ngFor="
       let subPathPair of (pathInspectorObservable | async | toSubPathPairs);
       let subIdx = index;
       trackBy: trackSubPathPair">
    <div fxLayout="row">
      <div fxFlex="50%" fxLayout="row">
        <div class="subpath-border" [class.is-selected]="subPathPair.isStartSubPathSelected"
          fxLayout="column">
          <app-subpathinspector [canvasType]="START_CANVAS" [subIdx]="subIdx"
            [subPath]="subPathPair.startSubPath">
          </app-subpathinspector>
          <app-commandinspector [canvasType]="START_CANVAS" [subIdx]="subIdx"
            [cmdIdx]="cmdIdx" [command]="cmd" *ngFor="let cmd of subPathPair.startCmds;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-commandinspector>
        </div>
      </div>
      <div fxFlex="50%" fxLayout="row">
        <div class="subpath-border" [class.is-selected]="subPathPair.isEndSubPathSelected"
          fxLayout="column">
          <app-subpathinspector [canvasType]="END_CANVAS" [subIdx]="subIdx"
            [subPath]="subPathPair.endSubPath">
          </app-subpathinspector>
          <app-commandinspector [canvasType]="END_CANVAS" [subIdx]="subIdx"
            [cmdIdx]="cmdIdx" [command]="cmd" *ngFor="let cmd of subPathPair.endCmds;
                    let cmdIdx = index;
                    trackBy: trackCommand">
          </app-commandinspector>
        </div>
      </div>
    </div>
  </div>
</div>
