<div class="inspector-item" [class.cursor-pointer]="shouldShowPointerCursorObservable | async"
  (mouseenter)="onSubPathHover(true)" (mouseleave)="onSubPathHover(false)"
  (click)="onSubPathClick($event)" [class.is-hovering]="isHovering()"
  fxLayout="row" fxLayoutAlign="start center">
  <strong><span class="subpath-text">{{getSubPathText()}}</span></strong>
  <span fxFlex></span>
  <button md-icon-button mdTooltip="Delete subpath" mdTooltipPosition="below"
    mdTooltipShowDelay="300" (mouseenter)="onDeleteSubPathHover(true)"
    (mouseleave)="onDeleteSubPathHover(false)" *ngIf="shouldShowDeleteSubPath()"
    (click)="onDeleteSubPathClick($event)" [disabled]="shouldDisableDeleteSubPath()">
    <md-icon>delete</md-icon>
  </button>
</div>
