@mixin ss-toolbar-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, ss-foreground);
    .toolbar {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
        button {
            &[md-icon-button][disabled] {
                md-icon {
                    color: mat-color($foreground, disabled-text-inverse);
                }
            }
        }
        button.activated {
            md-icon {
                color: mat-color(mat-palette($mat-orange, A700));
            }
        }
    }
}
