.toolbar {
    padding: 8px 16px;
    z-index: 1;
    .toolbar-logo {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .toolbar-title {
        font-size: 18px;
    }
    .toolbar-subtitle {
        margin-top: 4px;
        font-size: 13px;
    }
}

.toolbar-overflow-link-item {
    // Remove link decorations from overflow menu items.
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.action-mode-close-icon {
    margin-right: 8px;
}

.toolbar-action-button {
    margin-left: 16px;
}

a {
    button.mat-menu-item {
            md-icon {
                margin-right: 20px;

        }
    }
}
