<div *ngIf="(this.toolbarData$ | async) as toolbarData"
  fxLayout="row"
  fxLayoutAlign="center center"
  class="toolbar"
  [@actionModeState]="this.actionModeState$ | async">

  <ng-container *ngIf="{
    showActionMode: toolbarData.shouldShowActionMode(),
    numSubPaths: toolbarData.getNumSubPaths(),
    numSegments: toolbarData.getNumSegments(),
    numPoints: toolbarData.getNumPoints(),
    toolbarTitle: toolbarData.getToolbarTitle(),
    toolbarSubtitle: toolbarData.getToolbarSubtitle(),
    showAddPoints: toolbarData.getNumSubPaths() > 0 || toolbarData.getNumSegments() > 0 || !toolbarData.isSelectionMode(),
    showSplitSubPaths: toolbarData.getNumSubPaths() > 0 || toolbarData.getNumSegments() > 0 || !toolbarData.isSelectionMode(),
    showPairSubPaths: toolbarData.shouldShowPairSubPaths(),
    showReverseSubPaths: toolbarData.getNumSubPaths() === 1,
    showShiftSubPath: toolbarData.shouldShowShiftSubPath(),
    showSetFirstPosition: toolbarData.shouldShowSetFirstPosition(),
    showDeleteSubPaths: toolbarData.getNumSplitSubPaths() > 0,
    showDeleteSegments: toolbarData.getNumSegments() > 0,
    showDeletePoints: toolbarData.getNumSplitPoints() > 0,
    showSplitInHalf: toolbarData.shouldShowSplitInHalf(),
    showAutoFix: toolbarData.shouldShowAutoFix()
  } as data">

    <!-- Shape Shifter logo. -->
    <md-icon *ngIf="!data.showActionMode"
      class="toolbar-logo"
      svgIcon="shapeshifter">
    </md-icon>

    <!-- Action mode close button. -->
    <button md-icon-button
      *ngIf="data.showActionMode"
      class="action-mode-close-icon"
      (click)="onCloseActionModeClick()">
      <md-icon>{{toolbarData.isSelectionMode() ? 'arrow_back' : 'close'}}</md-icon>
    </button>

    <!-- Toolbar text. -->
    <div fxLayout="column">
      <span class="toolbar-title">{{data.toolbarTitle}}</span>
      <span *ngIf="data.toolbarSubtitle"
        class="toolbar-subtitle">{{data.toolbarSubtitle}}
      </span>
    </div>

    <span fxFlex="1 1 auto"></span>

    <button md-icon-button
      class="toolbar-action-button"
      (click)="onAutoFixClick()"
      mdTooltip="Auto fix"
      mdTooltipShowDelay="300"
      *ngIf="data.showAutoFix"
      mdTooltipPosition="below">
      <md-icon svgIcon="autofix"></md-icon>
    </button>

    <!-- SubPath mode. -->
    <ng-container *ngIf="{state: (this.actionModeState$ | async)} as actionMode">
      <button md-icon-button
        class="toolbar-action-button"
        mdTooltip="Add points (A)"
        mdTooltipPosition="below"
        *ngIf="data.showAddPoints"
        mdTooltipShowDelay="300"
        (click)="onAddPointsClick()"
        [class.activated-with-error]="toolbarData.isAddPointsMode() && actionMode.state === 'active_with_error'"
        [class.activated]="toolbarData.isAddPointsMode() && actionMode.state === 'active'">
      <md-icon>add_circle_outline</md-icon>
    </button>
      <button md-icon-button
        class="toolbar-action-button"
        mdTooltip="Split subpaths (S)"
        mdTooltipPosition="below"
        *ngIf="data.showSplitSubPaths"
        mdTooltipShowDelay="300"
        (click)="onSplitSubPathsClick()"
        [class.activated-with-error]="toolbarData.isSplitSubPathsMode() && actionMode.state === 'active_with_error'"
        [class.activated]="toolbarData.isSplitSubPathsMode() && actionMode.state === 'active'">
      <md-icon>content_cut</md-icon>
    </button>
      <button md-icon-button
        class="toolbar-action-button"
        mdTooltip="Pair subpaths (D)"
        mdTooltipPosition="below"
        *ngIf="data.showPairSubPaths"
        mdTooltipShowDelay="300"
        (click)="onPairSubPathsClick()"
        [class.activated-with-error]="toolbarData.isPairSubPathsMode() && actionMode.state === 'active_with_error'"
        [class.activated]="toolbarData.isPairSubPathsMode() && actionMode.state === 'active'">
       <md-icon>compare_arrows</md-icon>
    </button>
    </ng-container>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltip="Reverse points (R)"
      mdTooltipPosition="below"
      *ngIf="data.showReverseSubPaths"
      mdTooltipShowDelay="300"
      (click)="onReversePointsClick()"
      [disabled]="!toolbarData.isSelectionMode()">
      <md-icon svgIcon="reverse"></md-icon>
    </button>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltip="Shift back points (B)"
      mdTooltipPosition="below"
      *ngIf="data.showShiftSubPath"
      mdTooltipShowDelay="300"
      (click)="onShiftBackPointsClick()"
      [disabled]="!toolbarData.isSelectionMode()">
      <md-icon>skip_previous</md-icon>
    </button>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltip="Shift forward points (F)"
      mdTooltipPosition="below"
      *ngIf="data.showShiftSubPath"
      mdTooltipShowDelay="300"
      (click)="onShiftForwardPointsClick()"
      [disabled]="!toolbarData.isSelectionMode()">
      <md-icon>skip_next</md-icon>
    </button>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltipPosition="below"
      mdTooltip="Delete subpath{{data.numSubPaths === 1 ? '' : 's'}}"
      mdTooltipShowDelay="300"
      *ngIf="data.showDeleteSubPaths"
      (click)="onDeleteSubPathsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Segment mode. -->
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltipPosition="below"
      mdTooltip="Delete segment{{data.numSegments === 1 ? '' : 's'}}"
      mdTooltipShowDelay="300"
      *ngIf="data.showDeleteSegments"
      (click)="onDeleteSegmentsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Point mode. -->
    <button md-icon-button
      mdTooltip="Add point (A)"
      mdTooltipPosition="below"
      mdTooltipShowDelay="300"
      *ngIf="data.showSplitInHalf"
      (mouseenter)="onSplitInHalfHoverEvent(true)"
      (mouseleave)="onSplitInHalfHoverEvent(false)"
      (click)="onSplitInHalfClick($event)">
      <md-icon>add_circle_outline</md-icon>
    </button>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltip="Set first point (F)"
      mdTooltipPosition="below"
      mdTooltipShowDelay="300"
      *ngIf="data.showSetFirstPosition"
      (click)="onSetFirstPositionClick()">
      <md-icon>looks_one</md-icon>
    </button>
    <button md-icon-button
      class="toolbar-action-button"
      mdTooltipPosition="below"
      mdTooltip="Delete point{{data.numPoints === 1 ? '' : 's'}}"
      mdTooltipShowDelay="300"
      *ngIf="data.showDeletePoints"
      (click)="onDeletePointsClick()">
      <md-icon>delete</md-icon>
    </button>

    <!-- Overflow menu buttons. -->
    <button class="toolbar-action-button"
      md-icon-button
      [mdMenuTriggerFor]="overflowMenu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #overflowMenu="mdMenu">
      <a href="https://github.com/alexjlockwood/ShapeShifter/issues"
        target="_blank"
        class="toolbar-overflow-link-item">
        <button md-menu-item (click)="onSendFeedbackClick()">
          <md-icon class="material-icons" svgIcon="contribute"></md-icon>
          <span>Send feedback</span>
        </button>
      </a>
      <a href="https://github.com/alexjlockwood/ShapeShifter/blob/master/README.md"
        target="_blank"
        class="toolbar-overflow-link-item">
        <button md-menu-item (click)="onAboutClick()">
          <md-icon>info</md-icon>
          <span>About</span>
        </button>
      </a>
    </md-menu>
  </ng-container>
</div>
