@import '../../styles/material-shadows';
@import '../../styles/variables';
@import '../../styles/theme';
.toolbar {
  padding: 8px 16px;
  background-color: mat-color($app-primary);
  color: mat-color($app-primary, default-contrast);
  box-shadow: material-shadow(1);
  z-index: 1;
  .toolbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .toolbar-title {
    font-size: 18px;
  }
  .toolbar-subtitle {
    margin-top: 4px;
    font-size: 13px;
  }
}

.toolbar-overflow-link-item {
  // Remove link decorations from overflow menu items.
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

.action-mode-close-icon {
  margin-right: 8px;
}

button {
  &[md-icon-button][disabled] {
    md-icon {
      color: $colorWhiteTextDisabled;
    }
  }
}

button.activated {
  md-icon {
    color: mat-color(mat-palette($mat-orange, 500));
  }
}

.toolbar-action-button {
  margin-left: 16px;
}
