<div fxLayout="row" class="button-container">
  <button md-icon-button
    mdTooltip="Auto fix"
    mdTooltipPosition="above"
    md-theme="dark"
    (click)="onAutoFixClick()">
    <md-icon class="md-24">tune</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Reverse"
    mdTooltipPosition="above"
    md-theme="dark"
    (click)="onReverseClick()">
    <md-icon class="md-24">autorenew</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift back"
    mdTooltipPosition="above"
    md-theme="dark"
    [disabled]="!subPathCommand.isClosed"
    (click)="onShiftBackClick()">
    <md-icon class="md-24">skip_previous</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift forwards"
    mdTooltipPosition="above"
    md-theme="dark"
    [disabled]="!subPathCommand.isClosed"
    (click)="onShiftForwardClick()">
    <md-icon class="md-24">skip_next</md-icon>
  </button>
</div>
<app-command
  *ngFor="let drawCommandWrapper of drawCommandWrappers;
    let drawIdx = index;
    trackBy: trackDrawCommand"
  fxLayout="row"
  fxLayoutAlign="start center"
  [editorType]="editorType"
  [pathId]="pathId"
  [subPathIdx]="subPathIdx"
  [drawIdx]="drawIdx"
  [drawCommand]="drawCommandWrapper.drawCommand">
</app-command>

