<div fxLayout="row"
  class="button-container">
  <button md-icon-button
    mdTooltip="Add"
    mdTooltipPosition="above"
    *ngIf="false"
    md-theme="dark">
    <md-icon>add</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Auto fix"
    mdTooltipPosition="above"
    md-theme="dark"
    (click)="onAutoFixClick()">
    <md-icon svgIcon="autofix"></md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Reverse"
    mdTooltipPosition="above"
    md-theme="dark"
    (click)="onReverseClick()">
    <md-icon svgIcon="reverse"></md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift back"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="subPathCommand.isClosed"
    (click)="onShiftBackClick()">
    <md-icon>skip_previous</md-icon>
  </button>
  <button md-icon-button
    mdTooltip="Shift forwards"
    mdTooltipPosition="above"
    md-theme="dark"
    *ngIf="subPathCommand.isClosed"
    (click)="onShiftForwardClick()">
    <md-icon>skip_next</md-icon>
  </button>
</div>
<div fxLayout="column">
  <app-command *ngFor="let drawCommandWrapper of drawCommandWrappers;
    let cmdIdx = index;
    trackBy: trackDrawCommand"
    [canvasType]="canvasType"
    [subIdx]="subIdx"
    [cmdIdx]="cmdIdx"
    [drawCommand]="drawCommandWrapper.drawCommand">
  </app-command>
</div>

