<div class="app-canvas-container"
  (click)="$event.stopPropagation()">
  <canvas appCanvasRuler
    class="canvas-ruler orientation-horizontal"
    [orientation]="'horizontal'">
  </canvas>
  <canvas appCanvasRuler
    class="canvas-ruler orientation-vertical"
    [orientation]="'vertical'">
  </canvas>
  <div appCanvasContainer
    class="canvas-container">
    <!-- TODO: uncomment this stuff? -->
    <!-- <canvas #renderingCanvas
      class="rendering-canvas mat-elevation-z4"
      [actionSource]="this.actionSource">
    </canvas>
    <canvas class="overlay-canvas"
      [actionSource]="this.actionSource">
    </canvas> -->
    <canvas appCanvasPaper
      class="paper-canvas"
      [actionSource]="this.actionSource">
    </canvas>
  </div>
</div>
