<div class="app-canvas-container"
  (click)="$event.stopPropagation()">
  <canvas appCanvasRuler
    class="canvas-ruler orientation-horizontal"
    [orientation]="'horizontal'">
  </canvas>
  <canvas appCanvasRuler
    class="canvas-ruler orientation-vertical"
    [orientation]="'vertical'">
  </canvas>
  <div appCanvasContainer
    class="canvas-container">
    <canvas appCanvasLayers
      class="rendering-canvas mat-elevation-z4"
      [actionSource]="this.actionSource">
    </canvas>
    <canvas appCanvasOverlay
      class="overlay-canvas"
      [actionSource]="this.actionSource">
    </canvas>
  </div>
</div>
