.app-canvas-container {
    position: relative;
    .canvas-ruler {
        position: absolute;
        transition: opacity .15s ease, visibility 0s linear .15s;
        opacity: 0;
        visibility: hidden;
    }
    &:hover .canvas-ruler {
        transition: opacity .15s ease;
        opacity: 1;
        visibility: visible;
    }
    .canvas-container {
        position: relative;
        canvas.rendering-canvas {
            position: absolute;
            z-index: 1;
        }
        canvas.overlay-canvas {
            position: absolute;
            background-color: transparent;
            z-index: 2;
        }
        // TODO: this is referenced directly by class name in the tools file
        canvas.paper-canvas {
          position: absolute;
          background-color: transparent;
          z-index: 3;
      }
    }
    $rulerWidth: 32px;
    .orientation-horizontal {
        left: -12px;
        top: -$rulerWidth;
        height: $rulerWidth;
    }
    .orientation-vertical {
        top: -12px;
        left: -$rulerWidth;
        width: $rulerWidth;
    }
}

// Cursor types used by the paper canvas below.

.cursor-pen-create {
	cursor: url('/assets/cursor/cursor-pen-create.png') 6 2, default;
}

.cursor-pen-add {
	cursor: url('/assets/cursor/cursor-pen-add.png') 6 2, default;
}

.cursor-pen-remove {
	cursor: url('/assets/cursor/cursor-pen-remove.png') 6 2, default;
}

.cursor-pen-edit {
	cursor: url('/assets/cursor/cursor-pen-edit.png') 6 2, default;
}

.cursor-pen-close {
	cursor: url('/assets/cursor/cursor-pen-close.png') 6 2, default;
}

.cursor-pen-adjust {
	cursor: url('/assets/cursor/cursor-pen-adjust.png') 6 2, default;
}

.cursor-pen-join {
	cursor: url('/assets/cursor/cursor-pen-join.png') 6 2, default;
}

.cursor-zoom-in {
	cursor: url('/assets/cursor/cursor-zoom-in.png') 7 7, default;
}

.cursor-zoom-out {
	cursor: url('/assets/cursor/cursor-zoom-out.png') 7 7, default;
}

.cursor-hand {
	cursor: url('/assets/cursor/cursor-hand.png') 10 10, default;
}

.cursor-hand-grab {
	cursor: url('/assets/cursor/cursor-hand-grab.png') 10 10, default;
}

.cursor-arrow-black {
	cursor: url('/assets/cursor/cursor-arrow-black.png') 2 2, default;
}

.cursor-arrow-black-point {
	cursor: url('/assets/cursor/cursor-arrow-black-point.png') 2 2, default;
}

.cursor-arrow-black-shape {
	cursor: url('/assets/cursor/cursor-arrow-black-shape.png') 2 2, default;
}

.cursor-arrow-white {
	cursor: url('/assets/cursor/cursor-arrow-white.png') 2 2, default;
}

.cursor-arrow-white-point {
	cursor: url('/assets/cursor/cursor-arrow-white-point.png') 2 2, default;
}

.cursor-arrow-white-shape {
	cursor: url('/assets/cursor/cursor-arrow-white-shape.png') 2 2, default;
}

.cursor-arrow-small {
	cursor: url('/assets/cursor/cursor-arrow-small.png') 2 2, default;
}

.cursor-arrow-small-point {
	cursor: url('/assets/cursor/cursor-arrow-small-point.png') 2 2, default;
}

.cursor-arrow-duplicate {
	cursor: url('/assets/cursor/cursor-arrow-duplicate.png') 2 2, default;
}

.cursor-scale-0 {
	cursor: url('/assets/cursor/cursor-scale-0.png') 9 9, default;
}

.cursor-scale-45 {
	cursor: url('/assets/cursor/cursor-scale-45.png') 9 9, default;
}

.cursor-scale-90 {
	cursor: url('/assets/cursor/cursor-scale-90.png') 9 9, default;
}

.cursor-scale-135 {
	cursor: url('/assets/cursor/cursor-scale-135.png') 9 9, default;
}

.cursor-rotate-0 {
	cursor: url('/assets/cursor/cursor-rotate-0.png') 9 9, default;
}

.cursor-rotate-45 {
	cursor: url('/assets/cursor/cursor-rotate-45.png') 9 9, default;
}

.cursor-rotate-90 {
	cursor: url('/assets/cursor/cursor-rotate-90.png') 9 9, default;
}

.cursor-rotate-135 {
	cursor: url('/assets/cursor/cursor-rotate-135.png') 9 9, default;
}

.cursor-rotate-180 {
	cursor: url('/assets/cursor/cursor-rotate-180.png') 9 9, default;
}

.cursor-rotate-225 {
	cursor: url('/assets/cursor/cursor-rotate-225.png') 9 9, default;
}

.cursor-rotate-270 {
	cursor: url('/assets/cursor/cursor-rotate-270.png') 9 9, default;
}

.cursor-rotate-315 {
	cursor: url('/assets/cursor/cursor-rotate-315.png') 9 9, default;
}

