$rulerWidth: 32px;
.canvas-ruler {
  position: absolute;
}

.canvas-ruler.orientation-horizontal {
  left: -12px;
  width: calc(100% + 24px);
  top: -$rulerWidth;
  height: $rulerWidth;
}

.canvas-ruler.orientation-vertical {
  top: -12px;
  height: calc(100% + 24px);
  left: -$rulerWidth;
  width: $rulerWidth;
}

