button {
    text-transform: uppercase;
    &:md-dialog-close {
        margin-right: 8px;
    }
}

md-dialog-actions {
    min-width: 220px;
}

.dialog-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.dialog-radio-button {
    margin-bottom: 16px;
}
