.file-drop-target {
  position: relative;
  background-color: #fff;
  box-shadow: material-shadow(2);
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  ::-webkit-file-upload-button {
    cursor:pointer;
  }
}
