<h1>Home</h1>

<ul *ngIf="this.isAuthenticated$ | async">
    <li *ngFor="let project of this.projects$ | async">
        <a href="/project/{{ project.id }}">{{ project.name }}</a>
    </li>
</ul>

<button *ngIf="this.isAuthenticated$ | async"
    (click)="this.createNewProject()">New project</button>

<button *ngIf="(this.isAuthenticated$ | async) === false"
    (click)="this.signIn()">Sign in</button>

<button *ngIf="this.isAuthenticated$ | async"
    (click)="this.signOut()">Sign out</button>