:host,
.app-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

app-canvas.start {
  margin-right: 48px;
}

app-canvas.end {
  margin-left: 48px;
}

div.toolbar-container {
  position: relative;
  z-index: 1;
}

.file-drop-target {
  &.is-dragging-over::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    animation: pulsate-color .66s ease 0s infinite;
    pointer-events: none;
    transform: translateZ(0);
  }
  @keyframes pulsate-color {
    0% {
      opacity: .5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: .5;
    }
  }
}

.show-default-cursor {
  cursor: default;
}

.show-pointer-cursor {
  cursor: pointer;
}

.show-pen-cursor {
  cursor: url(/assets/cursor/penaddcursorsmall.png) 5 0, auto;
}

div.display-container {
  box-sizing: border-box;
  padding-bottom: 16px;
  user-select: none;
}
