@import '../styles/variables';
@import '../styles/theme';
:host {
  overflow-y: auto;
}

.settings-container {
  overflow-y: auto;
}

form {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 48px;
}

form>div {
  margin-top: 8px;
  margin-bottom: 8px;
}

md-select {
  min-width: 180px;
  font-size: 14px;
}

md-input-container {
  font-size: 14px;
}

input:disabled {
  color: $colorBlackTextDisabled;
}

md-checkbox {
  font-size: 14px;
}

.mat-checkbox-disabled {
  color: $colorBlackTextDisabled;
}
