<div fxFlexFill class="settings-container">
  <form fxLayout="column">
    <div>
      <md-select color="accent" placeholder="Interpolator" [(ngModel)]="selectedInterpolator"
        [disabled]="(shouldDisableSettingsObservable | async) ? '' : undefined"
        name="interpolator">
        <md-option *ngFor="let interpolator of INTERPOLATORS" [value]="interpolator">
          {{interpolator.label}}
        </md-option>
      </md-select>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <md-input-container fxFlex>
        <input mdInput [disabled]="(shouldDisableSettingsObservable | async) ? '' : undefined"
          placeholder="Duration" value="300" min="100" max="60000"
          step="10" name="duration" [(ngModel)]="duration" type="number">
      </md-input-container>
      <md-input-container fxFlex>
        <input mdInput [disabled]="(shouldDisableSettingsObservable | async) ? '' : undefined"
          placeholder="Rotation" value="0" min="0" max="720" step="10"
          name="rotation" [(ngModel)]="rotation" type="number">
      </md-input-container>
    </div>
    <div>
      <md-checkbox [disabled]="(shouldDisableSettingsObservable | async) ? '' : undefined"
        name="shouldLabelPoints" [(ngModel)]="shouldLabelPoints">
        Show labeled points
      </md-checkbox>
    </div>
  </form>
</div>
