@import '../styles/variables';
@import '../styles/theme';
.settings-container {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

form > div {
  margin-top: 8px;
  margin-bottom: 8px;
}

md-select {
  min-width: 180px;
  font-size: 14px;
}

md-input-container {
  font-size: 14px;
}

input:disabled {
  color: $colorBlackTextDisabled;
}

